.footer-container {
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 144rem;
  height: 55.83rem;
  margin: auto;
  color: white;
  overflow: hidden;
  box-sizing: border-box;
}
.footer-container .footer-inset-container {
  width: auto;
  height: auto;
  left: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.footer-container .footer-inset-container .details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: auto;
}
.footer-container .footer-inset-container .details-container .footer-contacts {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 21.3rem;
  top: 10.2rem;
  left: 4.6rem;
  gap: 2.5rem;
  position: relative;
}
.footer-container .footer-inset-container .details-container .footer-contacts .logo-name {
  display: flex;
  flex-direction: column;
  width: 33.846rem;
  height: 13rem;
}
.footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo {
  display: flex;
  width: 22.55rem;
  height: 4.278rem;
  gap: 0.826rem;
  margin-top: 0;
}
.footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo h1 {
  margin-top: 0;
  line-height: 1;
  font-weight: 600;
  width: 100%;
  font-family: Clash Grotesk;
}
.footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo-details {
  width: 100%;
  height: 8rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
}
.footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo-details p {
  font-family: montserrat-light, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.831372549);
  font-size: 1.5rem;
  vertical-align: middle;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone {
  width: 33.846rem;
  height: 6.6rem;
  line-height: 0%;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .email {
  width: 100%;
  height: 3.3rem;
  display: flex;
  flex-direction: row;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .email .email-icon {
  width: 2rem;
  height: 2rem;
  top: 0.275rem;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .email p {
  width: 20.7rem;
  height: 1.6rem;
  top: 0.4rem;
  left: 3rem;
  font-weight: 400;
  font-size: 1.437rem;
  letter-spacing: -2%;
  font-family: montserrat-light, sans-serif;
  vertical-align: middle;
  color: #FFFFFF;
  margin-left: 1.2rem;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .phone {
  width: 100%;
  height: 2.55rem;
  display: flex;
  flex-direction: row;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .phone .phone-icon {
  width: 2rem;
  height: 2rem;
  top: 0.275rem;
  margin: auto;
}
.footer-container .footer-inset-container .details-container .footer-contacts .email-phone .phone p {
  width: 100%;
  height: 2.6rem;
  top: -0.1rem;
  left: 3rem;
  font-family: montserrat-light, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.831372549);
  margin-top: auto;
  margin-left: 1.2rem;
}
.footer-container .footer-inset-container .details-container .quick {
  margin-top: 8rem;
  left: 48.8rem;
  line-height: 2.4rem;
  width: auto;
}
.footer-container .footer-inset-container .details-container .quick h2 {
  font-size: 2rem;
  letter-spacing: 0%;
  height: 2.4rem;
  top: 9.5rem;
  left: 48.4rem;
  vertical-align: middle;
  color: #FFFFFF;
  font-weight: 400;
  font-family: clash-display-light, sans-serif;
}
.footer-container .footer-inset-container .details-container .quick .quicklinks {
  width: auto;
  height: 22.8rem;
  top: 13.9rem;
  left: 48.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-container .footer-inset-container .details-container .quick .quicklinks span {
  width: 100%;
  height: 3.3rem;
  top: -0.1rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.831372549);
  font-family: montserrat-light, sans-serif;
}
.footer-container .footer-inset-container .details-container .church {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 17.5rem;
  line-height: 2.4rem;
  margin-top: 8rem;
  left: 73.4rem;
  gap: 0.8rem;
}
.footer-container .footer-inset-container .details-container .church .church-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.footer-container .footer-inset-container .details-container .church h2 {
  width: 7.2rem;
  height: 2.4rem;
  top: 9.5rem;
  left: 73.4rem;
  font-family: clash-display-light, sans-serif;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  font-weight: 400;
}
.footer-container .footer-inset-container .details-container .church span {
  width: 7rem;
  height: 2.6rem;
  top: -0.1rem;
  font-family: montserrat-light, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-container .footer-inset-container .details-container .social-media {
  width: auto;
}
.footer-container .footer-inset-container .details-container .social-media h2 {
  width: 100%;
  margin-top: 8.9rem;
  left: 97.4rem;
  font-family: bricolage-grotesgue-semibold, sans-serif;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
}
.footer-container .footer-inset-container .details-container .social-media .icons {
  width: 100%;
  height: 3.4rem;
  top: 13.1rem;
  gap: 1.2rem;
  left: 97.4rem;
  justify-content: space-evenly;
}
.footer-container .footer-inset-container .details-container .social-media .icons .tiktok, .footer-container .footer-inset-container .details-container .social-media .icons .whatsapp, .footer-container .footer-inset-container .details-container .social-media .icons .youtube, .footer-container .footer-inset-container .details-container .social-media .icons .instagram {
  background-color: rgba(255, 255, 255, 0.2705882353);
  color: #ffffff;
  width: 3rem;
  height: 1.7rem;
  border-radius: 2.5rem;
  padding: 0.6rem 0;
  gap: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.footer-container .footer-inset-container .others {
  max-width: 136rem;
  height: 5.63rem;
  top: 47.2rem;
  border: 0.8px solid rgba(255, 255, 255, 0.2705882353);
  border-style: dashed;
  float: right;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.footer-container .footer-inset-container .others .others-details {
  display: flex;
  flex-direction: row;
  max-width: 120rem;
  height: 2.7rem;
  top: 2.2rem;
  margin-left: 4rem;
  justify-content: space-between;
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 2.7rem;
  gap: 2.8rem;
  margin-top: 1.7rem;
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies .link, .footer-container .footer-inset-container .others .others-details .terms-privacy-cookies span {
  font-family: montserrat-light, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 160%;
  letter-spacing: -4%;
  color: rgba(252, 252, 252, 0.8);
  text-decoration: none;
}
.footer-container .footer-inset-container .others .others-details p {
  font-family: montserrat-light, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.7rem;
  gap: 0.2rem;
  line-height: 160%;
  letter-spacing: -4%;
  color: rgba(252, 252, 252, 0.8);
}

@media screen and (max-width: 612px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: auto;
  }
  .footer-container .footer-inset-container {
    width: 100dvw;
    left: 0;
    right: 0;
    height: auto;
    padding: 0;
    margin: auto;
    display: flex;
  }
  .footer-container .footer-inset-container .details-container {
    width: 95%;
    justify-content: space-between;
    left: 0;
    margin-left: 0;
    height: auto;
    padding: 0;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts {
    margin-left: 0;
    margin-left: 0;
    max-width: 50%;
    gap: 1;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .logo-name {
    position: relative;
    max-width: 75%;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo {
    width: auto;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo img {
    width: 4.278rem;
    height: 4.278rem;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo h1 {
    font-size: 2.2rem;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .logo-name .logo p {
    font-size: 2.5rem;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .email-phone {
    max-width: 50%;
  }
  .footer-container .footer-inset-container .details-container .footer-contacts .email-phone .phone {
    min-width: 50dvw;
  }
  .footer-container .footer-inset-container .details-container .social-media {
    margin: auto;
    position: relative;
    margin-top: -5.5rem;
  }
  .footer-container .footer-inset-container .details-container .social-media h2 {
    margin-left: 2rem;
  }
  .footer-container .footer-inset-container .others {
    width: 100dvw;
    left: 0;
  }
  .footer-container p, .footer-container span {
    font-size: 1.7rem !important;
  }
}/*# sourceMappingURL=footer.css.map */



/* Login Button */
/* From Uiverse.io by nima-mollazadeh */ 
.button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
  margin-top: 65px;
}

.button span {
  position: relative;
  z-index: 1;
  font-family:  montserrat-light;
}

.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}
