.footer-container{
    background-color: #000000;
    position: absolute;
    // bottom: 0;
    left: 0;
    right: 0;
    max-width: 144.0rem;
    height: 55.83rem;
    margin: auto;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
    

    .footer-inset-container{
        width: 136.0rem;
        height: 55.8rem;
        left: 8.0rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        
        .details-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // flex-shrink: inherit;
            width: 136.0rem;
            justify-content: space-evenly;

            //contacts
            .footer-contacts{
                display: flex;
                flex-direction: column;
                width: 33.846rem;
                height: 21.3rem;
                top: 10.2rem;
                left: 4.6rem;
                gap: 1.7rem;
                position: relative;

                .logo-name{
                    display: flex;
                    flex-direction: column;
                    width: 33.846rem;
                    height: 13.0rem;

                    .logo{
                        display: flex;
                        width: 22.55rem;
                        height: 4.278rem;
                        gap: 0.826rem;
                        margin-top: 0;

                        h1{
                            margin-top: 0;
                            line-height: 1;
                            font-weight: 600;
                            
                            width: 100%;
                            font-family:  Clash Grotesk;
                            
                        
                        }
                    }
                    .logo-details{
                        width: 100%;
                        height: 8.0rem;
                        line-height: 2.55rem;
                        letter-spacing: 0%;
                        // text-align: left;

                        p{
                            font-family: montserrat-light, sans-serif ;
                            font-weight: 400;
                            color: #FFFFFFD4;
                            font-size: 1.5rem;
                            // width: 100%;
                            vertical-align: middle;
                        }
                    }
                }
                // Email and phone
                .email-phone {
                    width: 33.846rem;
                    height: 6.6rem;
                    line-height: 0%;
                    
                    .email{
                        width: 100%;
                        height: 3.3rem;
                        display: flex;
                        flex-direction: row;
                        
                        .email-icon{
                            width: 2.0rem;
                            height: 2.0rem;
                            top: 0.275rem;
                            // margin-top: 0;
                            
                        }

                        p{
                            width: 20.7rem;
                            height: 1.6rem;
                            top: 0.4rem;
                            left: 3.0rem;
                            font-weight: 400;
                            font-size: 1.437rem;
                            letter-spacing: -2%;
                            font-family: montserrat-light, sans-serif;
                            vertical-align: middle;
                            color: #FFFFFF;
                            margin-left: 1.2rem;

                        }
                    }

                    .phone{
                        width: 100%;
                        height: 2.55rem;
                        
                        display: flex;
                        flex-direction: row;
                        
                        .phone-icon{
                            width: 2.0rem;
                            height: 2.0rem;
                            top: 0.275rem;
                            margin: auto;
                            
                            
                            
                        }

                        p{
                            width: 100%;
                            height: 2.6rem;
                            top: -0.1rem;
                            left: 3.0rem;
                            font-family: montserrat-light, sans-serif;
                            font-weight: 400;
                            font-size: 1.5rem;
                            line-height: 2.55rem;
                            letter-spacing: 0%;
                            vertical-align: middle;
                            color: #FFFFFFD4;
                            margin-top: auto;
                             margin-left: 1.2rem;
                        }
                    }
                }
            }

            //quick links
            .quick{
                margin-top: 8rem;
                left: 48.8rem;
                line-height: 2.4rem;
                width: auto;

                h2{
                    font-size: 2.0rem;
                    letter-spacing: 0%;
                    // width: 10.7rem;
                    height: 2.4rem;
                    top: 9.5rem;
                    left: 48.4rem;
                    vertical-align: middle;
                    color: #FFFFFF;
                    font-weight: 400;
                    font-family: clash-display-light, sans-serif;
                }

                .quicklinks{
                    width: auto;
                    height: 22.8rem;
                    top: 13.9rem;
                    left: 48.4rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    span{
                        width: 100%;
                        height: 3.3rem;
                        top: -0.1rem;
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 2.55rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #FFFFFFD4;
                        font-family: montserrat-light, sans-serif;
                    }
                }
            }

            //church
            .church{
                display: flex;
                flex-direction: column;
                width: auto;
                height: 17.5rem;
                line-height: 2.4rem;
                margin-top: 8rem;
                left: 73.4rem;
                gap: 0.8rem;
                
                
                .church-about{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 90%;
                }

                h2{
                    width: 7.2rem;
                    height: 2.4rem;
                    top: 9.5rem;
                    left: 73.4rem;
                    font-family: clash-display-light, sans-serif;
                    font-style: normal;
                    font-size: 2.0rem;
                    line-height: 2.4rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #FFFFFF;
                    font-weight: 400;
                }
                span{
                    width: 7.0rem;
                    height: 2.6rem;
                    top: -0.1rem;
                    font-family:  montserrat-light, sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 2.55rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }

            //socia; media
            .social-media{
                width: 17.2rem;

                h2{
                    width: 100%;
                    margin-top: 8.9rem;
                    left: 97.4rem;
                    font-family: bricolage-grotesgue-semibold, sans-serif;
                    font-weight: 700;
                    line-height: 2.4rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #FFFFFF;
                }
                .icons{
                    width: 100%;
                    height: 3.4rem;
                    top: 13.1rem;
                    gap: 1.2rem;
                    left: 97.4rem;
                    
                    justify-content: space-evenly;

                    .tiktok, .whatsapp, .youtube, .instagram{
                        background-color: #FFFFFF45;
                        color: #ffffff;
                        width: 3rem;
                        height: 1.7rem;
                        border-radius: 2.5rem;
                        padding: 0.6rem 0;
                        gap: 1.2rem;
                        margin-left: 0.5rem;
                        cursor: pointer;

                    }
                }
            }
            
        }

        //smaller horizantal footer
        .others{
            max-width: 136.0rem;
            height: 5.63rem;
            top: 47.2rem;
            border: 0.8px solid #FFFFFF45 ;
            border-style: dashed;
            float: right;
            border-bottom: none;
            border-right: none;
            border-left: none;


            .others-details{
                display: flex;
                flex-direction: row;
                max-width: 120.0rem;
                height: 2.7rem;
                top: 2.2rem;
                margin-left: 4.0rem;
                justify-content: space-between;
                
                .terms-privacy-cookies{
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    height: 2.7rem;
                    gap: 2.8rem;
                    margin-top: 1.7rem;

                    .link, span{
                        font-family: montserrat-light,sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 1.7rem;
                        line-height: 160%;
                        letter-spacing: -4%;
                        color:#FCFCFCCC ;
                        text-decoration: none;

                    }
                }

            p{
                font-family: montserrat-light, sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 1.7rem;
                gap: 0.2rem;
                line-height: 160%;
                letter-spacing: -4%;
                color: #FCFCFCCC;
            }

            }
            
        }

    }



    



    //Media Query
@media screen and (max-width: 1040px){
    .footer-inset-container{
        width: 100vw;
        left: 0;
        padding: 0;
        margin: 0;
        //    padding-bottom: 10rem;
        

        .details-container{
            width: 100vw;
            left: 0;
            justify-content: space-evenly;

     
        }
    
        .others{
            width: 100vw;
            left: 0;
            height: 10dvh;
            
            padding-bottom: 5rem;


        }
        
    }
}

@media screen and (max-width: 600px){
    .footer-inset-container{
        max-width: 100dvw;
        left: -2rem;
        height: auto;
        font-size: 20%;
        margin-left: 0;
        

        .details-container{
            max-width: 100dvw;
            left: 0;
            margin-left: 0;
            height: auto;
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
           

            .footer-contacts{
                margin-left: 0;
                
                .logo-name{
                   
                    max-width: 90%;
                    .logo{
                        max-width: 90%;

                        img{
                            width: 4.278rem;
                            height: 4.278rem;

                        }
                        h1{
                            font-size: 2.2rem;
                        }
                    }
                }
            }

            .social-media{
                margin: 0;
                margin: auto;
                margin-top: 0;
            
            }     
        }

        .others{
            width: 100vw;
            left: 0;

        }
        
    }
        
}
}