.form-container{
    background-image: url("../../media/images/praying.png");
    max-width: 144.5rem;
    min-height: 99.7dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;

    .form-section{
        width: 64.724rem;
        height: 77.29dvh;
        position: relative;
        top: 9.3rem;
        left: 8.1rem;
        border-radius: 4.5rem;
        border: 1px solid hsla(255, 83%, 42%, 1);
        background-color: hsla(0, 0%, 0%, 1);
        
        .inner-section{
            display: flex;
            flex-direction: column;
            width: 55.722rem;
            height: 65.6dvh;
            gap: 6.0rem;
            margin: auto;

            h2{
                width: auto;
                font-family: clash-display-bold;
                font-weight: 700;
                font-size: 3.6rem;
                line-height: 5.8rem;
                letter-spacing: 4%;
                vertical-align: middle;
                margin-left: 2rem;
                text-transform: capitalize;
                color: hsla(0, 0%, 100%, 1);
            }

            .input-box-section{
                max-width: 55.722rem;
                height: 53.8dvh;
                gap: 5.7rem;
                margin: auto;

                .input{
                    height: 42.4dvh;

                    .input-one, .input-two{
                        display: flex;
                        flex-direction: row;
                        max-width: 55.722rem;
                        height: 9.15dvh;
                        justify-content: space-between;
                        margin-bottom: 3.5rem;
                        color: hsla(0, 0%, 43%, 1);

                        .first-name, .last-name, .email, .subject{
                            margin: auto;
                            


                            p{
                                font-family: montserrat-light;
                                font-weight: 300;
                                font-size: 1.5rem;
                                line-height: 2.25rem;
                                letter-spacing: 0%;
                                color: hsla(43, 33%, 92%, 1);
                            }
                            input{
                               width: 25.861rem;
                               height: 5.9dvh;
                               position: relative;
                               
                                
                               border-radius: 1.0rem;
                               color: hsla(0, 0%, 43%, 1);
                               border: 1px solid hsla(0, 0%, 100%, 0.27);
                            //    margin-bottom: 10.25rem;
                            }
                        }




                    }
                    .text-area{
                        max-width: 53.7rem;
                        height: 20.3rem;
                        gap: 1.2rem;
                        margin: auto;

                        p{
                           font-family: montserrat-light;
                           font-size: 1.5rem;
                           line-height: 2.25rem;
                           letter-spacing: 0%;
                           vertical-align: middle;
                           color: hsla(43, 33%, 92%, 1); 
                        }
                        input{
                           width: 53.7rem;
                            height: 16.8dvh;
                            border-radius: 1.0rem;
                            color: hsla(0, 0%, 43%, 1);
                            margin: auto;
                            border: 1px solid hsla(0, 0%, 100%, 0.27);
                        }
                    }
                }
                button{
                    
                    height: 5.7dvh;
                    border-radius: 9.9rem;
                    border: 1px solid hsla(255, 83%, 42%, 1);
                    padding: 1.8rem 15.7rem;
                    gap: 10px;
                    margin-top: 6.5rem;
                    display: flex;
                    background-color: hsla(255, 83%, 42%, 1);
                    color: hsla(0, 0%, 100%, 1);
                    font-family: montserrat-semibold;
                    
                    
                    cursor: pointer;
                    // margin-left: auto;
                    // margin-right: auto;
                    

                    p{
                        margin: auto;
                        font-size: 1.5rem;
                        width: auto;
                        letter-spacing: 0%;
                        font-family: montserrat-semibold;
                        vertical-align: middle;
                        position: relative;
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .sm-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 60.1rem;
        max-width: 58.277rem;
        position: relative;
        left: 10rem;
        top: 9.3rem;
        margin-bottom: 10rem;
        gap: 2.0rem;
        

        .sm-one, .sm-two, .sm-three, .sm-fourth{
            width: 28.138rem;
            height: 27.4rem;
            border-radius: 3.0rem;
            position: relative;
            background-color: hsla(0, 3%, 94%, 0.2);

            img{
                width: 3.5rem;
                height: 3.5rem;
                position: relative;
                top: 3.5rem;
                left: 3.5rem;
            }

            h4{
                position: relative;
                top: 2.3rem;
                left: 3.5rem;
                font-family: clash-display-medium;
                font-weight: 500;
                font-size: 2.0rem;
                line-height: 2.4rem;
                letter-spacing: 3%;
                text-transform: capitalize;
                color: hsla(0, 0%, 90%, 1);
            }
            p{
                width: 21.3rem;
                position: relative;
                left: 3.5rem;
                font-family: montserrat-light;
                font-weight: 300;
                font-size: 1.7rem;
                line-height: 2.55rem;
                letter-spacing: 0%;
                vertical-align: middle;
                color: hsla(0, 0%, 90%, 1);
            }
        }
    }
    
}
.form-container::before{
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: hsla(266, 92%, 8%, 0.88);
    opacity: 0.8;
   
}

@media screen and (max-width: 600px) {
    .form-container{
        display: flex;
        flex-direction: column;
        padding: 0;
       
        height: auto;
        width: 100vw;
        
    }
    .form-section{
        position: relative;
        margin-left: -6.5rem;
        max-width: 95%;
    }
    .sm-container{
        margin-left: -8rem;
        margin-top: 8rem;
        left: 0;
         position: relative;
        // background-color: red;
    }

}