.ride-location{
    max-width: 144.0rem;
    height: 75.5rem;
    background-color: #F0F4FF;
    box-sizing: border-box;
   position: relative;


    .ride-location-sm{
        max-width: 119.4rem;
        left: 12.4rem;
        gap: 4.9rem;
        margin: auto;
        padding-top: 7.8rem;
        // margin-top: 7.8rem;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        // background-color: rgb(119, 119, 119);
        

        .ride-container{
            display: flex;
            flex-direction: column;
            max-width: 55.4rem;
            max-height: 56.6rem;
            gap: 4.7rem;
            position: relative;
            // background-color: red;
            

            .img{
                width: 100%;
                height: 42.4rem;
                border-radius: 1.2rem;
                position: relative;
                margin: 0;
            }
            .need-ride{
                display: flex;
                flex-direction: column;
                gap: 1.836rem;
                margin: 0;

                h2{
                    font-family: clash-display-bold;
                    font-weight: 700;
                    font-size: 3.27rem;
                    line-height: 98%;
                    letter-spacing: 2%;
                    color: rgba(64, 18, 197, 1);
                    margin: 0;
                }
                p{
                    font-family: montserrat-light;
                    font-weight: 400;
                    font-size: 1.635rem;
                    line-height: 2.602rem;
                    letter-spacing: 2%;
                    vertical-align: middle;
                    margin: 0;

                    span{
                        font-family: montserrat-medium;
                        font-weight: 800;
                        font-size: 1.635rem;
                        line-height: 2.602rem;
                        letter-spacing: 2%;
                        vertical-align: middle;
                        color: rgba(0, 0, 0, 1);
                        
                    }
                }
            }
        }

        .location-container{
            display: flex;
            flex-direction: column;
            width: 59.1rem;
            max-height: 56.6rem;
            gap: 1.7rem;
            position: relative;
            // background-color: red;
            
            .location-details{
                width: auto;
                height: 7.676rem;
                gap: 1.426rem;
                display: flex;
                flex-direction: column;
                // margin: 0;
                position: relative;

                .icon-with-name{
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 1.351rem;
                    gap: 1.125rem;
                    padding: auto;

                    img{
                        width: 1.351rem;
                        height: 1.351rem;
                    }
                    p{
                        width: 100%;
                        height: 1.3rem;
                        font-family: clash-display-light;
                        font-weight: 300;
                        font-size: 0.975rem;
                        line-height: 1.268rem;
                        letter-spacing: 1.88px;
                        vertical-align: middle;
                        text-transform: capitalize;
                        color: rgba(0, 0, 0, 1);
                        margin-top: 0;
                        
                    }
                }

                h2{
                    width: 38.716rem;
                    height: 4.9rem;
                    font-family: montserrat-extrabold;
                    font-size: 2.251rem;
                    font-weight: 800;
                    line-height: 2.401rem;
                    letter-spacing: 0.094rem;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color:rgba(0, 0, 0, 1) ;
                    // margin-top: 0;
                }

            }

            
            .map{
                max-width: 100dvw;
                height: 100%;
                border-radius: 1.2rem;
                
                // margin: auto;
                // position: relative;
                margin-top: 2.788rem;
                border-radius: 1.2rem;
                // padding: auto;
                // overflow: hidden;
                

               

                .iframe{
                    height: 100%;
                    width:100%;
                    position: relative;
                    border-radius: 1.2rem;
                    margin: auto;              
                    border: 0.09rem solid hsla(251, 72%, 55%, 1);
                  
                }
            }
        }
    }


}

// Mobile View
@media screen and (max-width: 600px) {
    .ride-location{
        height: auto;
        padding: 0;
        max-width: 100vw;
        position: relative;
        padding-bottom: 6rem;
        overflow: hidden;

        .ride-location-sm{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;

            .location-container{

                .map{
                    height: 35.4dvh;
                    max-width: 90dvw;
                }
            }
        }
    }

    
}