 .menu-container{
    display: none;
 }

@media screen and (max-width: 600px) {
    .menu-container{
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    height: auto;
    top: 100%;
    padding-bottom: 10rem;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 2s;
   
    .inset-container{
        width: 90%;
        margin:0 auto;
        height: auto;
        gap: 2.6rem;
        display: flex;
        flex-direction: column;
        

        .inner-one{
            // height: 39.4rem;
            width: 100%;
            gap: 2.6rem;height: 100%;
            
            .link{
                text-decoration: none;
            }
            

            .menu-btn{
                display: flex;
                flex-direction: row;
                padding: 0;
                width: 100%;
                // height: 3.4rem;
                margin: 2.6rem 0;
                border-bottom: 1px solid rgb(202, 202, 202);
                justify-content: space-between;
                padding-bottom: 2rem;

                
                

                h2{
                    font-family: montserrat-light;
                    font-weight: 300;
                    font-size: 3.6rem;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: hsla(216, 7%, 13%, 1);
                    margin: auto 0;

                    .arrow{
                        margin: auto 0;
                    }
                }
            }

            
        }
    }

    button{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 8.5rem;
        border-radius: 3.0rem;
        padding: 8px 20px;
        margin: auto;
        border: none;
        background-color: hsla(210, 6%, 7%, 1);

        p{
            margin: auto;
            font-family: montserrat-semibold;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 120%;
            letter-spacing: -2%;
            color: hsla(0, 0%, 99%, 1);
        }

    }
  
}
#hide{
    display: none;
}
#show{
    display: flex;
    flex-direction: column;
    
}
}

