 .menu-container{
    display: none;


 }


@media screen and (max-width: 800px) {
    .menu-container{
        position: absolute;
        background-color: #ffffff;
        width: 100vw;
        height: auto;
        top: 100%;
        padding-bottom: 10rem;
        transition: width 2s, height 2s, transform 2s;
        transition-delay: 2s;
        display: flex;
        flex-direction: column;
   
        .inset-container{
            width: 90%;
            margin:0 auto;
            height: auto;
            gap: 2.6rem;
            display: flex;
            flex-direction: column;
            

            .inner-one{
                // height: 39.4rem;
                width: 100%;
                gap: 2.6rem;height: 100%;
                
                .link{
                    text-decoration: none;
                }
                

                .menu-btn{
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    width: 100%;
                    // height: 3.4rem;
                    margin: 2.6rem 0;
                    border-bottom: 1px solid rgb(202, 202, 202);
                    justify-content: space-between;
                    padding-bottom: 2rem;

                    
                    

                    h2{
                        font-family: montserrat-light;
                        font-weight: 300;
                        font-size: 3.6rem;
                        line-height: 100%;
                        letter-spacing: 0px;
                        color: hsla(216, 7%, 13%, 1);
                        margin: auto 0;

                        .arrow{
                            margin: auto 0;
                        }
                    }
                }
                // About
                .about-dropdown-hide{
                    display: none;
                }
                .about-dropdown-show{
                    display: flex;
                    flex-direction: column;

                }

                // Ministry
                .ministry-dropdown-hide{
                    display: none;
                }
                .ministry-dropdown-show{
                    display: flex;
                    flex-direction: column;
                }

                // Connect
                .connect-dropdown-hide{
                    display: none;
                }
                .connect-dropdown-show{
                    display: flex;
                    flex-direction: column;
                }

                // Media
                .media-dropdown-hide{
                    display: none;
                }
                .media-dropdown-show{
                    display: flex;
                    flex-direction: column;
                }

                // Events
                .evts-dropdown-hide{
                    display: none;
                }
                .evts-dropdown-show{
                    display: flex;
                    flex-direction: column;
                }

                // All
                .about-dropdown-show, .ministry-dropdown-show,  .connect-dropdown-show,  .media-dropdown-show, .evts-dropdown-show{
                    .link{
                        text-decoration: none;
                        cursor: pointer;

                        h2{
                            font-size: 2.2rem;
                            font-family: montserrat-light;
                            color: hsla(216, 7%, 13%, 1);
                            font-weight: 300;
                        }
                    }
                }
            }
        


    
        }   
        button{
            display: flex;
            flex-direction: row;
            width: 90%;
            height: 8.5rem;
            border-radius: 3.0rem;
            padding: 8px 20px;
            margin: auto;
            border: none;
            background-color: hsla(210, 6%, 7%, 1);

            p{
                margin: auto;
                font-family: montserrat-semibold;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 120%;
                letter-spacing: -2%;
                color: hsla(0, 0%, 99%, 1);
            }

        }

    }
    
    #hide{
        display: none;
    }
    #show{
        display: flex;
        flex-direction: column;
        
    }
}