

.nav-container{
    width: 100%;
    height: 117px;
    border: 1px solid #00000017;
    justify-content: space-between;
    padding: 28px;
    right: 120px;
    top: 0;
    left: 120px;
    background-color: #FFFFFF;
    position: sticky;
    color: #000000;
    margin: auto;
    margin-bottom: 0;
    box-sizing: border-box; 
    z-index: 1000;
    // overflow: hidden;
    
    .inner-container{
        display: flex;
        // flex-direction: row;
        width: 95%;
        height: 42.78px;
        // gap: 185px;
        margin: auto;
        
        figure{
            display: flex;
            width: 25%;
            // height: 4.2vh;
            gap: 8.26px;
            // background-color: red;
            // box-sizing: border-box;
            line-height: 0;
            margin: 0;
            float: left;

            .logo{
                width: 30%;
                height: 2.228vh;
                border-radius: 21.39px;
                padding: 4.06px;
                gap: 0.6px;
                float: left;
                
            }
            .logo-name{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 4.2vh;

                h2{
                    width: 100%;
                    // height: 1.198vh;
                    font-family: clash-display-semibold;
                    font-weight: 600;
                    font-style: bold;
                    font-size: 1.917rem;
                    text-box-trim: NONE;
                    line-height: 22.41px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: #000000;
                    margin: 0;

                }
                h1{
                    width: 100%;
                    // height: 1.198vh;
                    opacity: 1;
                    font-family: Clash Grotesk;
                    font-weight: 600;
                    // font-style: Semibold;
                    font-size: 1.917rem;
                    text-box-trim: NONE;
                    line-height: 23.01px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: #000000;
                    margin: 0;
                    

                }
            }
        }

        .nav-menu{
            display: flex;
            width: 100%;
            height: 1.354vh;
            justify-content: space-between;
           float: right;
           margin: auto;

            div{
                display: flex;
                height: 26px;
                justify-content: space-between;
                margin: auto;
                text-align: center;

                .arrow{
                    margin: auto;
                }

                input{
                    border: none;
                    background-color: white;
                    height: 26px;
                    gap: 8px;
                    cursor: pointer;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 160%;
                    letter-spacing: -2%;
                    color: #000000;
                }

            }
        }

        .pi{
            font-size: 1.91rem;
            display: none;
        }

    }


}



@media screen and (max-width: 1040px){
    .nav-container{
        width: 100vw;
        padding-left: 0;
        
        .inner-container{
            width: 100vw;

            figure{
                width: 30%;
                line-height: 0;
                .logo{
                    margin: auto;

                }
                .logo-name{
                    height: 0;
                    width: 100%;
                    font-size: 50%;
                    margin: auto;
                    margin-top: 1.5rem;

                    h2, h1{
                      line-height: 1.4;
                      font-size: 50.5%;
                      width: 100%;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 600px){
    .nav-container{
        width: 100vw;
        padding-left: 0;
        height: auto;
        
        .inner-container{
            width: 100vw;
            

            figure{
                width: auto;
                height: 3.513rem;
                gap: 0.668rem;

                .logo{
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    width: 5.5rem;
                    height: 5rem;

                }
                .logo-name{
                    height: auto;
                    width: auto;
                    position: relative;
                   
                    

                    h2, h1{
                    font-family: clash-display-semibold;
                    font-weight: 600;
                    font-size: 2.552rem;
                    //   line-height: 1.4;
                      font-size: 2.55rem;
                      width: 100%;
                      
                      
                    }
                }

            }
            .nav-menu{
                display: none;
            }
            .pi{
                font-size: 1.91rem;
                display: flex;
                flex-direction: column;
                font-size: large;
                font-weight: 700;
                left: 12rem;
        
                margin: auto;
                position: relative;
                
            }
            .mobile-nav{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 20rem;
                width: 100vw;
                height: 80vh;
                background-color: rgb(208, 208, 208);

            }
        }

    }
}
