

.nav-container{
    max-width: 100vw;
    height: 11.7dvh;
    border: 1px solid #00000017;
    justify-content: space-between;
    padding: 28px;
    right: 120px;
    top: 0;
    left: 120px;
    background-color: #FFFFFF;
    position: sticky;
    color: #000000;
    margin: auto;
    margin-bottom: 0;
    box-sizing: border-box; 
    z-index: 1000;
    // overflow: hidden;
    
    
    .inner-container{
        display: flex;
        // flex-direction: row;
        max-width: 95vw;
        max-height: 4.278dvh;
        // gap: 185px;
        margin: auto;
        

        
        figure{
            display: flex;
            width: 35%;
            height: 90%;
            gap: 8.26px;
        //    background-color: red;
           margin: auto;
        
            

            .logo{
                // width: 30%;
                max-height: 2.228dvh;
                border-radius: 21.39px;
                padding:4.06px;
                gap: 0.6px;
                float: left;
                margin: auto 0;
                display: none;
                height: auto;
                
                
            }
            .logo-name{
                display: flex;
                flex-direction: column;
                width: auto;
                max-height: 4.2dvh;
                margin: auto 0;
               
                
                

                h2{
                    width: 100%;
                    // height: 1.198vh;
                    font-family: clash-display-semibold;
                    font-weight: 600;
                    font-style: bold;
                    font-size: 1.917rem;
                    text-box-trim: NONE;
                    line-height: 22.41px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: #000000;
                    margin: auto;
                    margin-top: -1.2rem;

                }
                h1{
                    width: 100%;
                    // height: 1.198vh;
                    opacity: 1;
                    font-family: Clash Grotesk;
                    font-weight: 600;
                    // font-style: Semibold;
                    font-size: 1.917rem;
                    text-box-trim: NONE;
                    line-height: 23.01px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: #000000;
                    margin: auto;
                    

                }
            }
        }

        .nav-menu{
            display: flex;
            width: 100%;
            height: 1.354dvh;
            justify-content: space-between;
           float: right;
           margin: auto;

            div{
                display: flex;
                height: 26px;
                justify-content: space-between;
                margin: auto;
                text-align: center;

                .arrow{
                    margin: auto;
                }

                input{
                    border: none;
                    background-color: white;
                    height: 26px;
                    gap: 8px;
                    cursor: pointer;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 160%;
                    letter-spacing: -2%;
                    color: #000000;
                }

            }
        }

        .pi{
            font-size: 1.91rem;
            display: none;
            margin: auto;
            width: 4dvw;
            height: 2dvh;
        }

    }


}



@media screen and (max-width: 1040px){
    .nav-container{
        width: 100vw;
        padding-left: 0;
        
        .inner-container{
            width: 100vw;
    

            // figure{
            //     width: 30%;
                
            //     // .logo{
            //     //     margin: auto;

            //     // }
            //     // .logo-name{
            //     //     height: 0;
            //     //     width: 100%;
            //     //     font-size: 50%;
            //     //     margin: auto;
            //     //     margin-top: 1.5rem;

            //     //     h2, h1{
            //     //       line-height: 1.4;
            //     //       font-size: 50.5%;
            //     //       width: 100%;
            //     //     }
            //     // }

            // }

            .cancel{
                width: 5rem;
                height: 5rem;
                position: relative;
                left: 12rem;
                // position: absolute;
             
                border: none;
                // margin-left: 30rem;
                margin: auto;
                float: right;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .nav-container{
        width: 100vw;
        padding-left: 0;
        height: auto;
        padding-bottom: 6.5rem;

        
        .inner-container{
            width: 100vw;
           
            
            

            figure{
                width: auto;
                height: 90%;
                margin-top: 1%;
                gap: 0.668rem;
                margin-left: 5%;
                

                .logo{
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    width: 5.5rem;
                    height: 5rem;

                }
                .logo-name{
                    height: auto;
                    width: auto;
                    position: relative;
                    // float: left;
                    padding: 0;
                    margin-left: 0;
                    margin: auto 0;
                    margin-top: 12px;
                    
                    // top: -2.5rem;
                   
                    

                    h2, h1{
                    font-family: clash-display-semibold;
                    font-weight: 600;
                    font-size: 2.552rem;
                      line-height: 1.2;
                      font-size: 2.55rem;
                      width: 100%;
                      
                      
                    }
                }

            }
            .nav-menu{
                display: none;
                width: auto;
            }
            .pi{
                font-size: 1.91rem;
                display: flex;
                flex-direction: column;
                font-size: large;
                font-weight: 700;
                margin-right: 5%;
                width: 5dvw;
                height: 4dvh;
                // margin-left: 50%;
                margin-top: 4%;
        
               
               
                
            }

        }

    }
}
