.nav-container {
  width: 100%;
  height: 117px;
  border: 1px solid rgba(0, 0, 0, 0.0901960784);
  justify-content: space-between;
  padding: 28px;
  right: 120px;
  top: 0;
  left: 120px;
  background-color: #FFFFFF;
  position: sticky;
  color: #000000;
  margin: auto;
  margin-bottom: 0;
  box-sizing: border-box;
  z-index: 1000;
}
.nav-container .inner-container {
  display: flex;
  width: 95%;
  height: 42.78px;
  margin: auto;
}
.nav-container .inner-container figure {
  display: flex;
  width: 25%;
  gap: 8.26px;
  line-height: 0;
  margin: 0;
  float: left;
}
.nav-container .inner-container figure .logo {
  width: 30%;
  height: 2.228vh;
  border-radius: 21.39px;
  padding: 4.06px;
  gap: 0.6px;
  float: left;
}
.nav-container .inner-container figure .logo-name {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4.2vh;
}
.nav-container .inner-container figure .logo-name h2 {
  width: 100%;
  font-family: clash-display-semibold;
  font-weight: 600;
  font-style: bold;
  font-size: 1.917rem;
  text-box-trim: NONE;
  line-height: 22.41px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
.nav-container .inner-container figure .logo-name h1 {
  width: 100%;
  opacity: 1;
  font-family: Clash Grotesk;
  font-weight: 600;
  font-size: 1.917rem;
  text-box-trim: NONE;
  line-height: 23.01px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
.nav-container .inner-container .nav-menu {
  display: flex;
  width: 100%;
  height: 1.354vh;
  justify-content: space-between;
  float: right;
  margin: auto;
}
.nav-container .inner-container .nav-menu div {
  display: flex;
  height: 26px;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}
.nav-container .inner-container .nav-menu div .arrow {
  margin: auto;
}
.nav-container .inner-container .nav-menu div input {
  border: none;
  background-color: white;
  height: 26px;
  gap: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: -2%;
  color: #000000;
}
.nav-container .inner-container .pi {
  font-size: 1.91rem;
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-container {
    width: 100vw;
    padding-left: 0;
  }
  .nav-container .inner-container {
    width: 100vw;
  }
  .nav-container .inner-container figure {
    width: 30%;
    line-height: 0;
  }
  .nav-container .inner-container figure .logo {
    margin: auto;
  }
  .nav-container .inner-container figure .logo-name {
    height: 0;
    width: 100%;
    font-size: 50%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .nav-container .inner-container figure .logo-name h2, .nav-container .inner-container figure .logo-name h1 {
    line-height: 1.4;
    font-size: 50.5%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .nav-container {
    width: 100vw;
    padding-left: 0;
    height: auto;
  }
  .nav-container .inner-container {
    width: 100vw;
  }
  .nav-container .inner-container figure {
    width: auto;
    height: 3.513rem;
    gap: 0.668rem;
  }
  .nav-container .inner-container figure .logo {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 5.5rem;
    height: 5rem;
  }
  .nav-container .inner-container figure .logo-name {
    height: auto;
    width: auto;
    position: relative;
  }
  .nav-container .inner-container figure .logo-name h2, .nav-container .inner-container figure .logo-name h1 {
    font-family: clash-display-semibold;
    font-weight: 600;
    font-size: 2.552rem;
    font-size: 2.55rem;
    width: 100%;
  }
  .nav-container .inner-container .nav-menu {
    display: none;
  }
  .nav-container .inner-container .pi {
    font-size: 1.91rem;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 700;
    left: 12rem;
    margin: auto;
    position: relative;
  }
  .nav-container .inner-container .mobile-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20rem;
    width: 100vw;
    height: 80vh;
    background-color: rgb(208, 208, 208);
  }
}/*# sourceMappingURL=topnavbar.css.map */