main {
  max-width: 100%;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  height: auto;
}
main .our-goal {
  width: 100%;
  min-height: 102.7rem;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}
main .our-goal .our-goal-container {
  max-width: 120rem;
  height: auto;
  position: relative;
  top: 14.6rem;
  padding: 0 1rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
}
main .our-goal .our-goal-container .our-goal-img {
  max-width: 59rem;
  max-height: 73.8rem;
  box-sizing: border-box;
}
main .our-goal .our-goal-container .our-goal-img img {
  width: 100%;
  height: 100%;
  border-radius: 2.85rem;
}
main .our-goal .our-goal-container .our_goal-content {
  max-width: 55rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20rem;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title {
  max-width: 53.2rem;
  max-height: 17.9rem;
  display: flex;
  gap: 1.1rem;
  line-height: 0;
  flex-direction: column;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title .icon-with-name {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title .icon-with-name img {
  width: 1.744rem;
  height: 1.744rem;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title .icon-with-name p {
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  font-family: clash-display-light;
  color: #000000;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title h1 {
  font-size: 4.8rem;
  letter-spacing: 3%;
  color: #c1c3c8;
  font-family: clash-display-bold;
  margin-bottom: 2rem;
}
main .our-goal .our-goal-container .our_goal-content .our_goal-content-title h2 {
  font-size: 4rem;
  letter-spacing: 3%;
  color: #000000;
  font-family: clash-display-bold;
}
main .our-goal .our-goal-container .our_goal-content ol {
  margin: 0;
  list-style-position: outside;
  padding-left: 2rem;
  letter-spacing: 0%;
  font-size: 2.2rem;
  color: #4c4b4b;
  font-weight: 600;
  font-family: Montserrat-semibold;
  overflow-wrap: break-word;
  line-height: 2.55rem;
}
main .our-goal .our-goal-container .our_goal-content ol li {
  margin-bottom: 2.55rem;
  line-height: 1.55;
  text-align: justify;
  letter-spacing: 0%;
}
main .our-goal .our-goal-container .our_goal-content .link {
  text-decoration: none;
  margin: 0;
}
main .our-goal .our-goal-container .our_goal-content .link button {
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  border-radius: 3rem;
  background-color: #4012c5;
  border-style: none;
  display: flex;
  gap: 1rem;
  color: #ffffff;
}
main .our-goal .our-goal-container .our_goal-content .link button .arrow {
  margin: auto;
}
@media screen and (max-width: 600px) {
  main .our-goal {
    height: auto;
  }
  main .our-goal .our-goal-container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  main .our-goal .our-goal-container .our_goal-content {
    margin: auto;
    margin-top: 10rem;
  }
}/*# sourceMappingURL=about-us.css.map */