main {
  max-width: 100%;
  background-color: #fff;
  color: #000;

  .about-jca-screen {
    font-family: Montserrat, sans-serif;
    max-width: 100%;
    height: 44.719rem;
    background-image: linear-gradient(
        to right,
        rgba(3, 0, 18, 1),
        rgba(30, 30, 27, 0)
      ),
      url("../../media/images//aboutJcaBackground.png");

    .inner-container {
      width: 65.1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 10.2rem;
      line-height: 0;
      margin: auto;
      box-sizing: border-box;
      align-items: center;

      .icon-with-name {
        display: flex;
        flex-direction: row;
        gap: 3.25rem;
        align-items: center;

        img {
          width: 1.744rem;
          height: 1.744rem;
        }
        p {
          font-size: 1.3rem;
          color: #ffffffd4;
          letter-spacing: 2.5px;
          font-weight: 400;
          font-family: montserrat-light;
        }
      }
      p {
        font-family: clash-display-semibold;
        color: #ffffff;
        font-size: 6.5rem;
      }
    }
  }
  .church-vision {
    max-width: 100%;
    height: 114.5rem;
    background-color: #ffffff;
    color: #000;
    padding-top: 12.2rem;

    .church-vision-box {
      max-width: 80.5rem;
      height: 26.8rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      line-height: 0;
      margin: auto;
      text-align: center;
    //   border: 1px solid black;

      .icon-with-name {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin: auto;
        margin-bottom: 3.4rem;

        img {
          width: 1.744rem;
          height: 1.744rem;
        }
        p {
            color: #AEAEAE;
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 0.25rem;
        }
      }
      h2 {
        font-size: 4.5rem;
        letter-spacing: 10%;
        font-weight: 700;
        font-family: clash-display-bold;
      }
      p {
        font-size: 2.8rem;
        letter-spacing: 0%;
        font-weight: 400;
        line-height: 1.4;
        font-family: montserrat;

        span {
            font-size: 2.4rem;
            color: #6E6E6E;
            letter-spacing: 0%;
            font-weight: 600;
            font-family: montserrat-medium;
        }
      }
    }
  }
}
