main {
  max-width: 100%;
  background-color: #fff;
  color: #000;

  .about-jca-screen {
    font-family: Montserrat, sans-serif;
    max-width: 100%;
    height: 44.719rem;
    background-image: linear-gradient(
        to right,
        rgba(3, 0, 18, 1),
        rgba(30, 30, 27, 0)
      ),
      url("../../media/images//aboutJcaBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .inner-container {
      width: 65.1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 10.2rem;
      line-height: 0;
      margin: auto;
      box-sizing: border-box;
      align-items: center;

      .icon-with-name {
        display: flex;
        flex-direction: row;
        gap: 3.25rem;
        align-items: center;

        img {
          width: 1.744rem;
          height: 1.744rem;
        }
        p {
          font-size: 1.3rem;
          color: #ffffffd4;
          letter-spacing: 2.5px;
          font-weight: 400;
          font-family: montserrat-light;
        }
      }
      p {
        font-family: clash-display-semibold;
        color: #ffffff;
        font-size: 6.5rem;
      }
    }
  }
  .church-vision {
    max-width: 100%;
    height: 114.5rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.27)), url("../../media/images/ourVisionBackground");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // color: #000;
    text-align: center;
    padding-top: 12.2rem;

    .church-vision-box {
      max-width: 80.5rem;
      height: 26.8rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      line-height: 0;
      margin: auto;
      text-align: center;
      margin-bottom: 14.4rem;
      //   border: 1px solid black;

      .icon-with-name {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin: auto;
        margin-bottom: 3.4rem;

        img {
          width: 1.744rem;
          height: 1.744rem;
        }
        p {
          color: #aeaeae;
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: 0.25rem;
        }
      }
      h2 {
        font-size: 4.5rem;
        letter-spacing: 10%;
        font-weight: 700;
        font-family: clash-display-bold;
      }
      p {
        font-size: 2.8rem;
        letter-spacing: 0%;
        font-weight: 400;
        line-height: 1.4;
        font-family: montserrat;

        span {
          font-size: 2.4rem;
          color: #6e6e6e;
          letter-spacing: 0%;
          font-weight: 600;
          font-family: montserrat-medium;
        }
      }
    }
    .mission-statements {
      display: flex;
      flex-direction: column;
      gap: 7.7rem;
      h2 {
        font-size: 4.5rem;
        letter-spacing: 10%;
        font-weight: 700;
        font-family: clash-display-bold;
      }

      .mission-statements-cards {
        max-width: 90%;
        display: flex;
        gap: 2.2rem;
        margin: auto;

        .card {
          max-width: 38.219rem;
          height: 29.08rem;
          border-radius: 2.493rem;
          display: flex;
          flex-direction: column;
          gap: 0.81rem;
          padding: 3.905rem 3rem;
          color: #ffffff;
          text-align: center;

          h3 {
            max-width: 32.219rem;
            font-size: 2.428rem;
            letter-spacing: 4%;
            font-family: clash-display-bold;
            font-weight: 700;
            line-height: 2.914rem;
          }
          p {
            font-size: 1.412rem;
            font-weight: 400;
            font-family: montserrat-light;
            max-width: 32.2rem;
            letter-spacing: 0%;
            line-height: 2.119rem;
          }
        }
        .card1 {
          background-color: #056402;
          outline: 0.4rem solid #2a84277a;
        }
        .card2 {
          background-color: #24156a;
          outline: 0.4rem solid #24156a7a;
        }
        .card3 {
          background-color: #6a1534;
          outline: 0.4rem solid #6a15347a;
        }
      }
    }
  }
}

// Mobile View
@media screen and (max-width:600px) {
  main{
    height: auto;
     .church-vision{
      height: auto;
      padding-bottom: 10rem;
      width: 100dvw;

      .mission-statements{
        width: 100dvw;
       
        .mission-statements-cards{
          display: flex;
          flex-direction: column;
          width: 90dvw;
          margin: auto;

          .card, .card1, .card2, .card3{
            min-width: 90%;

            h3{
              font-size: 4.4rem;
              margin: 1rem auto;
            }
            p{
              font-size: 2.65rem;
              min-width: 100%;
              line-height: 1.2;
            }
          }
        }
       
      }
     }
  }
  
}
