.main{
    max-width: 144.0rem;
    // top: 50.8rem;
    min-height: 144.0rem;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;


    // Mission statement section
    .mission-statement-con{
        display: flex;
        flex-direction: column;
        max-width: 106.3rem;
        height: 47.96rem;
        position: relative;
        padding-top: 10.3rem;
        margin-left: auto;
        margin-right: auto;
       
        .tag-with-name{
            width: 17.5rem;
            height: 1.8rem;
            margin: 0 auto;
            // background-color: red;

            img{
                width: 1.8rem;
                height: 1.8rem;
                margin: 0;
            }
            p{
                position: relative;
                top: -2rem;
                left: 3.2rem;
                font-family: clash-display-light;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.69rem;
                letter-spacing: 0.25rem;
                vertical-align: middle;
                text-transform: capitalize;
                color: #000000;
                margin: 0;
            }
        }
        .m-s-header{
            max-width: 106.3rem;
            height: 10.76rem;
            margin: 0 auto;
            
            h2{
                font-family: clash-display-bold;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 5.4rem;
                letter-spacing: 10%;
                vertical-align: middle;
                text-transform: capitalize;
                color: #0F1A1A;
                
            }
        }
        .m-s-contents{
            max-width: 106.3rem;
            max-height: 35.4rem;

            p{
                font-family: montserrat-light;
                font-weight: 400;
                font-size: 2.2rem;
                line-height: 5.9rem;
                letter-spacing: 0%;
                vertical-align: middle;
                text-align: center;
                color: #000000;

                span{
                    font-family: montserrat-semibold;
                    font-weight: 600;
                    font-size: 2.2rem;

                }
            }
        }

    }

    // Amazing grace outreach section
    .a-g-outreach-container{
        display: flex;
        flex-direction: row;
        max-height: 35.4rem;
        max-width: 120.1rem;
        position: relative;
        padding-top: 50px;
        gap: 2.2rem;
        margin: 20rem auto;

        .a-g-header{
            width: 39.2rem;
            height: 15.804rem;
            margin: 0;

            h3{
                font-family: clash-display-bold;
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 3.3rem;
                letter-spacing: 10%;
                vertical-align: middle;
                text-transform: capitalize;

                span{
                    font-family: clash-display-light;
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 4.768rem;
                    letter-spacing: 10%;
                    vertical-align: middle;
                    text-transform: capitalize;
                }
            }
        }
        .a-g-contents{
            max-width: 78.7rem;
            height: 35.4rem;
            margin: 0;

            p{
                font-family: montserrat-semibold;
                font-weight: 600;
                font-size: 2.2rem;
                line-height: 5.9rem;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #000000;
                
                span{
                    font-family: montserrat-light;
                    font-weight: 400;

                }

            }
        }



    }

    // Green and black box section
    .boxes-container{
        display: flex;
        flex-direction: row;
        max-width: 120.1rem;
        // max-height: 53.126rem;
        height: auto;
        position: relative;
        // top: 50rem;
        margin: 20rem auto;
        gap: 3.692rem;
        // background-color: red;
        

        .green-box{
            display: flex;
            flex-direction: column;
            max-width: 58.204rem;
            max-height: 53.126rem;
            border: 3.91px solid hsla(118, 54%, 34%, 0.48);
            border-radius: 2.434rem;
            padding: 3.814rem 4.787rem;
            gap: 0.811rem;
            background-color: #056402;
        
            .g-b-header{
                width: 33.299rem;
                height: 7.248rem;
                margin: 0;

                h3{
                    font-family: clash-display-light;
                    font-weight: 400;
                    font-size: 2.55rem;
                    line-height: 3.061rem;
                    letter-spacing: 4%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: hsla(0, 0%, 100%, 1);
                    margin: 0;

                    span{
                        font-family: clash-display-bold;
                        font-weight: 700;

                    }
                }

            }
            .g-b-paragraph{
                max-width: 49.219rem;
                max-height: 38.477rem;
                margin: 0;

                p{
                    font-family: montserrat-light;
                    font-weight: 400;
                    font-size: 1.33rem;
                    line-height: 2.539rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: hsla(0, 0%, 100%, 0.83);
                    margin: 0;
                    position: relative;
                    height: 38.477rem;
                }
            }

        }
        // Black box section
        .black-box{
            display: flex;
            flex-direction: column;
            max-width: 58.204rem;
            max-height: 53.126rem;
            border: 3.91px solid hsla(0, 0%, 0%, 0.48);
            border-radius: 2.434rem;
            padding: 3.814rem 4.787rem;
            gap: 0.811rem;
            background-color: #000000;

            .b-b-header{
                width: 33.299rem;
                height: 7.248rem;
                margin: 0;

                h3{
                    font-family: clash-display-light;
                    font-weight: 400;
                    font-size: 2.55rem;
                    line-height: 3.061rem;
                    letter-spacing: 4%;
                    vertical-align: middle;
                    text-transform: capitalize;
                    color: hsla(0, 0%, 100%, 1);
                    margin: 0;

                    span{
                        font-family: clash-display-bold;
                        font-weight: 700;

                    }
                }
            }
            .b-b-paragraph{
                max-width: 49.219rem;
                max-height: 38.477rem;
                margin: 0;

                p{
                    font-family: montserrat-light;
                    font-weight: 400;
                    font-size: 1.33rem;
                    line-height: 2.539rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: hsla(0, 0%, 100%, 0.83);
                    margin: 0;
                    position: relative;
                    height: 38.477rem;
                }
            }

        }

    }

    // Others section
    .others-container{
        max-width: 106.8rem;
        max-height: 36.0rem;
        position: relative;
        // top: 30rem;
        margin: auto;
        margin-bottom:-3rem ;
        padding-bottom: 20rem;

        p{
            font-family: montserrat-medium;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 4.3rem;
            letter-spacing: 0%;
            vertical-align: middle;
            text-transform: capitalize;
            color: hsla(180, 27%, 8%, 1);

            span{
                font-family: montserrat-light;
                font-weight: 400;
                font-size: 2.2rem;
                text-transform: lowercase;
            }
        }
    }

}
/* Mobile view */
@media (max-width: 600px) {
    .main{
        margin: 0;
        max-width: 100vw;
        // min-height: 237.9rem;
        // overflow: hidden;
       

        .mission-statement-con{
            width: 100vw;
            position: relative;
            height: auto;
            margin: 0;

            .m-s-contents{
                p{
                    font-size: 2.5rem;
                }
            }

            
       
           
            
        }

        .a-g-outreach-container{
            width: 95vw;
            display: flex;
            flex-direction: column;
            margin: 15rem  auto;
            margin-top: 12rem;
            // background-color: red;
            // top: 150px;
            position: relative;
            

            .a-g-header{
                margin: auto;
            }
            .a-g-contents{
                width: 100vw;
                
                p{
                    width: 95vw;
                    margin: auto;
                    position: relative;
                    font-size: 2.5rem;
                    line-height: 5.3rem;
                    
                    
                    span{
                        font-family: montserrat-light;
                        color: hsla(0, 0%, 0%, 1);
                        font-weight: 400;
                        letter-spacing: 0%;
                    }
                }
            }
            
        }
        .boxes-container{
            display: flex;
            flex-direction: column;
            width: 95vw;
            margin:30rem auto;
            // margin-left: 5rem;
            
            
            


            .green-box{
                margin: auto;
                // width: 90%;
                position: relative;
                height: auto;

                .g-b-paragraph{
                    max-width: 49.219rem;
                    max-height: 38.477rem;
                    margin: 0;

                    p{
                        min-width: 100%;
                        margin: auto;
                        font-size: 1.82rem;
                
                    }
                }
           
            }

            .black-box{
                margin: auto;
                position: relative;
                height: auto;
                // width: 90%;
                
                .b-b-header{
                    width: 100%;
                    

                    h3{
                        width: 70%;
                        right: 10rem;
                        // margin-left: 0rem;
                        
                    }
                }
                
                .b-b-paragraph{
                    width: 100%;
                    margin: auto;

                    p{
                        font-size: 1.95rem;  
                        min-width: 100%;
                        margin: auto;
                    }
                }

                
            }

            
        }
        .others-container{
            position: relative;
            margin: auto;
            width: 90vw;

            p{
                font-size: 2.5rem;
            }
            
        }
    }
}