// Aim section
.contents{
    max-width: 144.0rem;
    height: auto;
    // top: 50.8rem;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-bottom: 25.8rem;

    .aim{
        display: flex;
        flex-direction: column;
        max-width: 59.0rem;
        height: auto;
        position: relative;
        top: 11.2rem;
        left: 10.0rem;
        gap: 4.2rem;
       

        .aim-image img{
            max-width: 59.0rem;
            max-height: 77.2rem;
            border-radius: 2.852rem;

        }

        .inset-image{
            display: flex;
            flex-direction: row;
            max-width: 59.0rem;
            height: 19.016rem;
            gap: 3.0rem;

            img{
               width: 27.574rem;
               height: 19.016rem;
               border-radius: 2.852rem;

            }
        }
    }

    .aimcontens{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10.4rem;
        left: 14rem;
        gap: 3.7rem;

        .tags{
            width: 53.2rem;
            height: 5.1rem;
            display: flex;
            flex-direction: row;
            gap: 1.1rem;
        

            img{
                width: 1.8rem;
                height: 1.8rem;
                margin-top: 0;
            }
            h5{
                width: auto;
                font-family: clash-display-light;
                font-weight: 300;
                font-size: 1.3rem;
                line-height: 1.69rem;
                letter-spacing: 2.5px;
                vertical-align: middle;
                text-transform: uppercase;
                color: hsla(0, 0%, 0%, 1);
                margin-top: 0;

            }
        }
        h3{
            font-family: clash-display-bold;
            font-weight: 700;
            font-size: 4.0rem;
            line-height: 120%;
            letter-spacing: 3%;
            color: hsla(0, 0%, 0%, 1);
            margin: 0;
        }
        p{
            max-width: 55.0rem;
            margin: 0;
            position: relative;
            left: -3rem;
            
            ol{
                li{
                    width: auto;
                    font-family: montserrat-medium;
                    font-weight: 500;
                    font-size: 1.7rem;
                    line-height: 3.3rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: hsla(0, 1%, 30%, 1);
                }
            }
        }
        h4{
            font-family: montserrat-semibold;
            font-weight: 600;
            font-size: 1.7rem;
            line-height: 3.3rem;
            letter-spacing: 0%;
            vertical-align: middle;
            color: hsla(0, 2%, 20%, 1);
            margin-top: 0;
        }
        p{
            font-family: montserrat-medium;
            font-weight: 500;
            font-size: 1.7rem;
            letter-spacing: 0%;
            line-height: 3.3rem;
            vertical-align: middle;
            color: hsla(0, 1%, 30%, 1);
            margin-top: 0;
            margin-left: 2.8rem;
            
        }

    }
}

// criptural truth section
.scripture-truth{
    max-width: 144.0rem;
    height: auto;
    // top: 180.9rem;
    position: relative;
    background-color: hsla(224, 100%, 97%, 1);
    // margin-top: -10px;
    display: flex;
    flex-direction: row;
    padding-bottom: 6.2rem;
    overflow: hidden;

    .content{
        max-width: 57.6rem;
        height: auto;
        left: 13.1rem;
        gap: 2.3rem;
        top: 6.3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        bottom: 6.3rem;

        h3{
            font-family: clash-display-light;
            font-weight: 400;
            font-size: 4.0rem;
            line-height: 120%;
            letter-spacing: 3%;
            color: hsla(0, 0%, 0%, 1);
            width: 100%;
            margin: 0;
            height: auto;

            span{
                font-family: clash-display-semibold;
                font-weight: 600;
                font-size: 4.0rem;
                line-height: 120%;
                letter-spacing: 3%;
            }
        }
        p{
            font-family: montserrat-medium;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 3.3rem;
            letter-spacing: 0%;
            vertical-align: middle;
            color: hsla(0, 1%, 22%, 1);
            margin-left: 0;
            width: 100%;
            margin: 0;
            margin-left: -3rem;
            // height: auto;

            span{
                font-family: montserrat-semibold;
                font-weight: 600;
                font-size: 1,7rem;
                letter-spacing: 0%;
            }
        }
    }
    .children-image{
        height: auto;
        max-width: 50.6rem;
        position: relative;
        margin-left: 10rem;
        gap: 1.2rem;
        margin: auto;

        img{
            width: auto;
            border-left: 2px solid hsla(0, 0%, 100%, 1);
            position: relative;
            left: 2px;
        }

    }
}

// Why we pay attention section
.why{
    max-width: 144.0rem;
    height: auto;
    background-color: #ffffff;
    padding: 10rem;

    .content{
        display: flex;
        flex-direction: column;
        // max-width: 114.4rem;
        height: auto;
        margin: auto;
        gap: 5.3rem;
        position: relative;
        

        .content-header{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 9.7rem;
            gap: 13.5rem;
            margin-bottom: 0;
           

            .tag{
                display: flex;
                flex-direction: row;
                max-width: 53.2rem ;
                gap: 1.1rem;
                margin: auto;
                margin-left: 0;
                
                img{
                    height: 1.8rem;
                    width: 1.8rem;
                    margin: 0;

                }
                p{
                   font-family: clash-display-light;
                   font-weight: 300;
                   font-size: 1.3rem;
                   line-height: 1.69rem;
                   letter-spacing: 2.5px;
                   vertical-align: middle;
                   text-transform: uppercase;
                   margin: 0; 
                   width: auto;
                }
            }

            h3{
                font-family: clash-display-light;
                font-weight: 400;
                font-size: 4.0rem;
                line-height: 120%;
                letter-spacing: 3%;
                color: hsla(0, 0%, 0%, 1);
                display: flex;
                flex-direction: column;
                margin: auto;
                max-width: 47.7rem;
                float: right;
                position: relative;
                margin-right: 0;
                
                
                

                span{
                    font-family: clash-display-semibold;
                    font-size: 4.0rem;
                    font-weight: 600;

                }
            }
        }
        p{
            font-family: montserrat-medium;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 3.9rem;
            letter-spacing: 0%;
            vertical-align: middle;
            color: hsla(0, 1%, 22%, 1) ;
            margin-top: 0;
            padding: 0;
            width: 100%;
            
            span{
                font-family: montserrat-semibold;
                font-weight: 600;
                font-size: 1.7rem;
                letter-spacing: 0%;
                vertical-align: middle;
            }

        }
    }
}
@media screen and (max-width: 600px) {
    // Aim section
    .contents{
        display: flex;
        flex-direction: column;
        width: 100vw;
        .aim{
            display: flex;
            flex-direction: column;
            left: 0;
            width: 100vw;

            .aim-image, .inset-image{
                width: 90%;
                margin-left: 5%;

            }
        }

        .aimcontens{
            width: 90%;
            margin: auto;
            left: 0;


            .tags{
                width: 50%;
                margin: auto;
                margin-bottom: 0;
                margin-top: 10rem;
            }
            h3{
                width: 40%;
                
                margin: auto;
                margin-top: -5rem;

            }
        }
    }

    // criptural truth section
    .scripture-truth{
        display: flex;
        flex-direction: column;
        

        .content{
            left: 0;
            width: 90%;
            margin: auto;
        }
        .children-image{
            margin-top: 6.6rem;
            padding: 0;
            img{
                left: 0;
                width: 100%;
                margin: auto;
                
                padding: 0;
            }

            
        }
    }

    // Why we pay attention section
    .why{
        width: auto;
        position: relative;
        left: 0;
      

        .content{
            width: 125%;
            position: relative;
            // background-color: red;
            margin: 0;
            left: -6rem;

            .content-header{
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 50%;

                .tag{
                    margin-bottom: 0;
                }
                h3{
                    top: -12rem;
                    position: relative;
                    
                    
                    
                }
            }
            p{
                margin-top: 12rem;
            }
        }
    }
}