// h1{
//     margin-top: 20%;
// }
main{
    margin: 0;
    top: 11.7rem;
    left: -0.1rem;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    

    .home-screen{
        background-image: linear-gradient(to right, rgba(3, 0, 18, 1), rgba(30, 30, 27, 0) ), url("../../media/images/background.png");
        background-repeat: none;
        background-size: cover;
        background-position: center;
        height: 77.5rem;
        left: -0.1rem;
        // box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        overflow: hidden;

        .heading-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 41.6rem;
            max-width: 72.4rem;
            top: 16.819rem;
            left: 11.6rem;
            gap: 1.7rem;
            position: relative;
            // background-color:
            box-sizing: border-box;
            

            .heading-text{
               
               width: auto;
               position: relative;
               z-index: 0;
               

                h1{
                    
                    font-family: 'Clash Grotesk' sans-serif;
                    font-size: 14.791rem;
                    line-height: 1.1;
                    letter-spacing: 0%;
                    color: rgba(157, 255, 154, 1);
                    margin: 0;
                
                }
                .to-church{
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    // background-color: red;
                    position: relative;

                    h2{
                        height: 19.6rem;
                        top: -22.3rem;
                        left: 3.3rem;
                        font-family: aisyah-demo;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 17.803rem;
                        letter-spacing: -4%;
                        position: inherit;
                        color: rgba(209, 208, 208, 1);
                    }

                    span{
                        width: 60.4rem;
                        height: 14.8rem;
                        top: -3.8rem;
                        left: 4.20rem;
                        position: relative;
                        font-family: clash-display-bold;
                        font-size: 13.468rem;
                        letter-spacing: 0%;
                        font-weight: 700;
                        line-height: 1.1;
                        color: rgba(252, 252, 252, 1);
                    }
                }
                
            }
        }
        @media screen and (max-width: 560px) {
             .heading-container{
                width: 100vw;
             }
        }

    }

   

}