main {
  margin: 0;
  top: 11.7rem;
  left: -0.1rem;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
main .home-screen {
  background-image: linear-gradient(to right, rgb(3, 0, 18), rgba(30, 30, 27, 0)), url("../../media/images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: center;
  height: 77.5rem;
  left: -0.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
main .home-screen .heading-with-button {
  display: flex;
  flex-direction: column;
}
main .home-screen .heading-with-button .heading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 41.6rem;
  max-width: 72.4rem;
  top: 16.819rem;
  left: 11.6rem;
  gap: 1.7rem;
  position: relative;
  box-sizing: border-box;
}
main .home-screen .heading-with-button .heading-container .heading-text {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  z-index: 0;
}
main .home-screen .heading-with-button .heading-container .heading-text h1 {
  font-family: "Clash Grotesk" sans-serif;
  font-size: 14.791rem;
  line-height: 1.1;
  letter-spacing: 0%;
  color: rgb(157, 255, 154);
  margin: 0;
}
main .home-screen .heading-with-button .heading-container .heading-text .to-church {
  display: flex;
  flex-direction: row;
  margin: 0;
  position: relative;
}
main .home-screen .heading-with-button .heading-container .heading-text .to-church h2 {
  height: 19.6rem;
  top: -22.3rem;
  left: 3.3rem;
  font-family: aisyah-demo;
  font-weight: 400;
  font-style: normal;
  font-size: 17.803rem;
  letter-spacing: -4%;
  position: inherit;
  color: rgb(209, 208, 208);
}
main .home-screen .heading-with-button .heading-container .heading-text .to-church span {
  width: 60.4rem;
  height: 14.8rem;
  top: -3.8rem;
  left: 4.2rem;
  position: relative;
  font-family: clash-display-bold;
  font-size: 13.468rem;
  letter-spacing: 0%;
  font-weight: 700;
  line-height: 1.1;
  color: rgb(252, 252, 252);
}
main .home-screen .heading-with-button .heading-container p {
  top: 25.38rem;
  left: -62.8rem;
  font-family: montserrat-light;
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: 0%;
  text-align: center;
  position: relative;
  color: rgb(206, 201, 201);
}
main .home-screen .heading-with-button .heading-container p span {
  font-family: montserrat-medium;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0%;
  color: rgb(206, 201, 201);
}
main .home-screen .heading-with-button .link {
  text-decoration: none;
}
main .home-screen .heading-with-button button {
  display: flex;
  flex-direction: row;
  width: 20.1rem;
  height: 6rem;
  border-radius: 3rem;
  border: 1px solid rgb(255, 255, 255);
  padding-top: 1.6rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  padding-bottom: 1.6rem;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  position: relative;
  top: 10.2rem;
  left: 15.5rem;
}
main .home-screen .heading-with-button button p {
  font-family: montserrat-medium;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.95rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
  color: rgb(15, 26, 26);
}
main .home-screen .heading-with-button button .arrow {
  width: 1.387rem;
  height: 0.974rem;
  left: 0.75px;
  color: rgb(15, 26, 26);
  margin-top: 0.71rem;
}
@media screen and (max-width: 560px) {
  main .home-screen .heading-container {
    width: 100vw;
  }
}
main .contacts-main-container {
  display: flex;
  flex-direction: row;
  background-color: #1D038D;
  height: 5.9rem;
  top: 89.2rem;
  gap: 1.3rem;
  color: white;
  box-sizing: border-box;
}
main .contacts-main-container .contact-inner-container {
  display: flex;
  flex-direction: row;
  max-width: 95.536rem;
  height: 2rem;
  gap: 6.565rem;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}
main .contacts-main-container .contact-inner-container .email, main .contacts-main-container .contact-inner-container .instagram, main .contacts-main-container .contact-inner-container .charity {
  height: 2rem;
  gap: 0.68rem;
  display: flex;
  flex-direction: row;
  max-width: 30rem;
}
main .contacts-main-container .contact-inner-container .email p, main .contacts-main-container .contact-inner-container .email .contact-icon, main .contacts-main-container .contact-inner-container .instagram p, main .contacts-main-container .contact-inner-container .instagram .contact-icon, main .contacts-main-container .contact-inner-container .charity p, main .contacts-main-container .contact-inner-container .charity .contact-icon {
  margin: 0;
  font-family: clash-display-light;
  font-weight: 400;
  font-size: 1.514rem;
  line-height: 1.1;
  letter-spacing: -2%;
  color: #FFFFFF;
}
main .contacts-main-container .contact-inner-container .email {
  width: 27.5rem;
}
main .contacts-main-container .contact-inner-container .instagram {
  width: 13.7rem;
}
main .contacts-main-container .contact-inner-container .charity {
  width: 33.3rem;
}
main .third-container {
  max-width: 144rem;
  height: 102.7rem;
  top: 95.1rem;
  left: 0.3rem;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  flex-wrap: wrap;
}
main .third-container .third-container-inset {
  display: flex;
  flex-direction: row;
  max-width: 120.2rem;
  height: 64.319rem;
  top: 14.6rem;
  gap: 6.2rem;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
main .third-container .third-container-inset .images-container {
  max-width: 59rem;
  gap: 3;
}
main .third-container .third-container-inset .images-container .lg-image img {
  max-width: 59rem;
  height: 42.9rem;
  border-radius: 2.852rem;
}
main .third-container .third-container-inset .images-container .sm-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .third-container .third-container-inset .images-container .sm-image img {
  max-width: 27.57rem;
  height: 19.016rem;
  border-radius: 2.852rem;
}
main .third-container .third-container-inset .third-container-details {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  max-height: 64.1rem;
  gap: 2.4rem;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container {
  display: flex;
  flex-direction: column;
  max-width: 53.2rem;
  height: 19.2rem;
  gap: 1.1rem;
  background-color: #FFFFFF;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container .t-c-tag {
  width: 15.4rem;
  height: 1.8rem;
  gap: 1.5rem;
  display: flex;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container .t-c-tag img {
  width: 1.8rem;
  height: 1.8rem;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container .t-c-tag p {
  font-family: clash-display-light;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.69rem;
  letter-spacing: 0.25rem;
  vertical-align: middle;
  text-transform: capitalize;
  color: #000000;
  margin-top: 0;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container h2 {
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 120%;
  letter-spacing: 3%;
  color: #132B63;
  max-width: 53.2rem;
  height: 5.8rem;
  margin: 0;
}
main .third-container .third-container-inset .third-container-details .t-c-header-container h3 {
  max-width: 53.2rem;
  height: 9.4rem;
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 4rem;
  line-height: 117%;
  letter-spacing: 3%;
  color: #000000;
  margin-top: 0;
}
main .third-container .third-container-inset .third-container-details p {
  font-family: montserrat-semibold;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6E6E6E;
}
main .third-container .third-container-inset .third-container-details p span {
  font-family: montserrat-light;
}/*# sourceMappingURL=home.css.map */