main {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  color: #000;
  height: auto;
  // position: relative;


 
  //   Meet our leaders
  .our-leaders {
    max-width: 100%;
    height: auto;

    .inner-container {
      max-width: 90%;
      max-height: 183.1rem;
      display: flex;
      position: relative;
      top: 14.9rem;
      gap: 16.6rem;
      margin: auto;
      text-align: center;
      flex-direction: column;
      line-height: 0%;
      // background-color: red;
      // overflow: scroll;

    //   border: 1px solid red;

      .subheading {
        max-width: 87.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: auto;

        h1 {
          font-size: 4.5rem;
          letter-spacing: 10%;
          color: #0f1a1a;
          font-family: clash-display-bold;
        }
        p {
          font-size: 2.4rem;
          font-family: Montserrat, sans-serif;
          font-weight: 400;
          color: #000000;
        }
      }

      .our-leaders-profile-cards {
        display: flex;
        gap: 5rem 10.1rem;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;

        .card {
          max-width: 55rem;
          max-height: 57.6rem;
          box-sizing: border-box;
          // background-color: blue;
          position: relative;
        //   border: 1px solid green;
          

          img {
            max-width: 55rem;
            max-height: 57.6rem;
            border-radius: 1.6rem;
            box-sizing: border-box;
            
          }
        }
      }
    }
    .inner-container::-webkit-scrollbar{
      display: none;
     }
    
  }
}

// Mobile view
@media screen and (max-width: 600px) {
  main{
    .our-leaders{
      position: relative;
      height: auto;
    
      
      .inner-container{
        height: auto;
       
        position: relative;
        margin: auto;
        padding-bottom: 120rem;

        .subheading{
          p{
            line-height: 1.5;
            font-size: 2.7rem;
          }
        }

        .our-leaders-profile-cards{
          .card {
            .card-1, .card-2, .card-3, .card-4{
              max-width: 90vw;
              margin: auto;
              overflow: hidden;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  
}
