.teaching-main-cont{
    max-width: 144.0rem;
    height: auto;
    background-color: #ffffff;

    .messages-container{
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        padding-top: 7.3rem;
        justify-content: space-between;
        
        .message-left-cont{
            display: flex;
            flex-direction: column;
            width: 28.8rem;
            height: auto;
            position: relative;
            // left: 12.2rem;
            // right: 12.2rem;
            gap: 3.3rem;
            
            

            .search-box{
                display: flex;
                flex-direction: row;
                width: 28.5rem;
                height: 5.4rem;
                border-radius: 10px;
                margin: 0;
                border: 1px solid hsla(255, 5%, 58%, 1);
                background-color: hsla(0, 0%, 100%, 1);
                
                input{
                    width: 80%;
                    float: right;
                    margin: 0;
                    font-family: montserrat-light;
                    font-size: 1.4rem;
                    letter-spacing: 0%;
                    line-height: 100%;
                    border-radius: 10px;
                    vertical-align: middle;
                    color: hsla(328, 3%, 71%, 1);
                    border: none;
                }
                img{
                    width: 1.776rem;
                    height: 1.776rem;
                    margin: auto;
                }

            }

            .message-tittle-container{
                width: 100%;
                
                

                .messages-tittles:first-child{
                    h3{
                        color: hsla(255, 83%, 42%, 1);
                    }
                    p{
                        color: hsla(255, 83%, 42%, 1);
                    }
                }

                .messages-tittles{
                    height: 4.687rem;
                    width: 100%;
                    cursor: pointer;
                    margin-bottom: 7rem;
                    
                    

                    h3{
                        font-family: clash-display-medium;
                        font-weight: 500;
                        font-size: 2.0rem;
                        line-height: 120%;
                        letter-spacing: 3%;
                        margin: 0;
                        color: hsla(255, 3%, 27%, 1);
                    }

                    p{
                        font-family: montserrat-medium;
                        font-weight: 500;
                        font-size: 1.1rem;
                        margin: 0;
                        
                        line-height: 2.287rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: hsla(0, 1%, 30%, 1);
                    }
                }
            }

            .left-prev-next{
                width: 100%;
                display: flex;
                flex-direction: row;
                height: 3.255rem;
                gap: 2.0rem;
                margin: 0;
                position: relative;
                top:-5rem;
                justify-content: space-between;

                h5:first-child{
                    color: hsla(0, 0%, 80%, 1);
                }

                h5{
                    font-family: montserrat-bold;
                    font-weight: 700;
                    font-size: 1.322rem;
                    line-height: 100%;
                    letter-spacing: 0%;
                    // margin-top: 0;
                    cursor: pointer;
                    color: hsla(0, 0%, 20%, 1);
                    
                }
 
                .round{
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    height: 3.166rem;
                    width: 3.166rem;
                    border-radius: 9.894rem;
                    gap: 9.89px;
                    cursor: pointer;
                    padding: 9.89px;
                    border: 1.99px solid hsla(0, 0%, 95%, 1);
                    background-color: hsla(0, 0%, 100%, 1);

                    p{
                        margin: auto;
                        font-family: clash-display-medium;
                        font-weight: 500;
                        font-size: 1.286rem;
                        letter-spacing: 0%;
                        line-height: 100%;
                        color: hsla(0, 0%, 20%, 1);
                    }
                    
                }

                .round:first-of-type{
                    background-color: hsla(255, 83%, 42%, 1);
                    p{
                        color: hsla(0, 0%, 100%, 1);
                    }
                }

            }

            
        }

        .message-right-cont{
            min-width: 86.9rem;
            height: auto;
            gap: 2.7rem;
            margin: 0;
            

            .right-cont-head{
                width: 100%;
                gap: 2.7rem;

                .tag-cont{
                    background-image: url("../../media//images//messagebck.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 43.3rem;
                    border-radius: 1.6rem;

                    h3{
                        font-family: clash-display-medium;
                        font-weight: 500;
                        font-size: 5.513rem;
                        line-height: 8.499rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: hsla(0, 0%, 100%, 1);
                        text-align: center;
                        margin: auto;
                        position: relative;
                        top: 22%;
                    }
                    h2{
                        font-family: clash-display-semibold;
                        font-weight: 600;
                        font-size: 8.822rem;
                        line-height: 6.8rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: hsla(0, 0%, 100%, 1);
                        margin: auto;
                        text-align: center;
                        position: relative;
                        top: 20%;
                    }
                }

                .tittle-cont{
                    width: 100%;
                    h1{
                       font-family: clash-display-semibold;
                       font-weight: 600;
                       font-size: 6.4rem;
                       line-height: 120%;
                       letter-spacing: 3%;
                       color: hsla(0, 0%, 0%, 1); 
                       margin: 0;
                       width: 100%;
                    }
                    h4{
                        font-family: montserrat-medium;
                        font-weight: 500;
                        font-size: 3.7rem;
                        line-height: 3.7rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: hsla(0, 1%, 30%, 1);
                        margin: 0;
                    }
                }

            }

            
            .paragraph-cont{
                width: 100%;
                margin-top: 5rem;
                margin-bottom: 5rem;

                span{
                    font-family: montserrat-medium;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 3.3rem;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: hsla(0, 1%, 18%, 1);
                }

                p{
                    font-family: montserrat-light;
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 2.3;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    // color: hsla(0, 1%, 18%, 1);

                }
            }

            .left-prev-next{
                display: none;
            }
        }



    }
}

@media screen and (max-width: 600px) {
.teaching-main-cont{
    .messages-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 95dvw;
        
        

        .message-left-cont{
            height: auto;
            overflow: hidden;
            margin: auto;
            width: 95dvw;

            .search-box{
                width: 28.5rem;
                min-height: 5.4dvh;
                margin: auto;
              
            }
            .message-tittle-container{
                margin: 5rem auto;
                max-height: 30dvh;
                 margin-bottom: 5rem;
                overflow-y: scroll;
                //  .messages-tittles{
                //     max-width: 20dvh;

                //     p{
                //         margin-bottom: 5rem;
                //     }
                    
                //  }

                .messages-tittles{
                    display: flex;
                    flex-direction: column;
                    width: 95dvw;
                    left: 0;
                    // overflow-y: scroll;
                    margin: auto;
                    // background-color: red;
                    
                    margin-left: 0;
                    
                    height: auto;
                    
                       
                    

                    h3{
                        color: hsla(255, 83%, 42%, 1);
                        font-size: 3.2rem;
                        width: 95dvw; 
                        
                        
                        height: auto; 
                    
                        // position: absolute;
                        
                        
                        
                                     
                    }
                    h3:hover{
                        color: rgb(184, 37, 37);
                    }
                    p{
                        color: rgb(140, 138, 149);
                        font-size: 2.2rem;
                         margin-bottom: 5rem;
                        // position: absolute;
                        

                    }
                }

                
            }

            .left-prev-next{
                display: none;
            }
        }

        .message-right-cont{
            max-width: 100%;
            // margin-top: 8rem;

            .right-cont-head{
                max-width: 95dvw;
                // margin-top: 1rem;
             }
            .paragraph-cont{
                max-width: 95dvw;
            }
            
            .left-prev-next{
                width: 95dvw;
                display: flex;
                flex-direction: row;
                height: 3.255rem;
                gap: 2.0rem;
                margin:10rem  0;
                position: relative;
                top:-5rem;
                justify-content: space-between;

                h5:first-child{
                    font-size: large;
                    padding: 0;
                   font-family: montserrat-semibold;
                    margin-top: 2.5rem;
                    color: hsla(0, 0%, 80%, 1);
                }

                h5{
                    
                    font-weight: 700;
                    font-size: large;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-top: 2.5rem;
                    cursor: pointer;
                    color: hsla(0, 0%, 20%, 1);
                    font-family: montserrat-semibold;
                    
                }
 
                .round{
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    height: 3.166rem;
                    width: 3.166rem;
                    border-radius: 9.894rem;
                    gap: 9.89px;
                    cursor: pointer;
                    padding: 9.89px;
                    border: 1.99px solid hsla(0, 0%, 95%, 1);
                    background-color: hsla(0, 0%, 100%, 1);

                    p{
                        margin: auto;
                        font-family: clash-display-medium;
                        font-weight: 500;
                        font-size: 1.286rem;
                        letter-spacing: 0%;
                        line-height: 100%;
                        color: hsla(0, 0%, 20%, 1);
                    }
                    
                }

                .round:first-of-type{
                    background-color: hsla(255, 83%, 42%, 1);
                    p{
                        color: hsla(0, 0%, 100%, 1);
                    }
                }

            }
        }
    }
}  

}
