.p-r-contents{
    max-width: 144.0rem;
    height: auto;
    background-color: #ffffff;
    margin: 0;
    padding-bottom: 10rem;

    .inner-cont{
        display: flex;
        flex-direction: column;
        height:auto;
        width: 70.593rem;
        position: relative;
        // top: 59.6rem;
        gap: 2.1rem;
        margin: auto;


        h1{
           max-width: 60.4rem;
           margin-left: auto;
           height: auto;
           font-family: clash-display-bold;
           font-size: 4.5rem;
           font-weight: 700;
           line-height: 5.6rem;
           letter-spacing: 3%;
           text-align: center;
           vertical-align: middle;
           
           color: hsla(180, 27%, 8%, 1);
        //    text-transform: capitalize;

        }
        p{
            max-width: 60.593rem;
            margin: auto;
            font-family: montserrat-medium;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 2.55rem;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: hsla(0, 0%, 43%, 1);
        }
    }
}

@media screen and (max-width:600px) {
    .p-r-contents{
        .inner-cont{
            h1{
                left: -9rem;
                left: -8rem;
                position: relative;
            }
            p{
                left: -4rem;
                position: relative;
                font-size: 2.7rem;
                line-height: 1.7;
            }
        }
    }
}