.raising-giant-page {
  max-width: 100%;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container {
  max-width: 100%;
  height: 125.5rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container {
  max-width: 90%;
  display: flex;
  gap: 6rem;
  flex-direction: row;
  margin: auto;
  position: relative;
  top: 11.2rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-image {
  max-width: 59rem;
  height: 100.416rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  align-items: center;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-image .RaisingGiantImg1 {
  max-width: 59rem;
  height: 77.2rem;
  border-radius: 2.852rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images {
  max-width: 59rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images .RaisingGiantImg2 {
  max-width: 27.574rem;
  height: 19.016rem;
  border-radius: 2.852rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images .RaisingGiantImg3 {
  max-width: 28.4rem;
  height: 19rem;
  border-radius: 2.852rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts {
  max-width: 55rem;
  height: 101.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .sub-tittle {
  width: 53.2rem;
  display: flex;
  line-height: 0;
  flex-direction: column;
  position: relative;
  line-height: 120%;
  top: 1rem;
  gap: 1.1rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .sub-tittle .icon-with-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .sub-tittle .icon-with-name img {
  width: 1.744rem;
  height: 1.744rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .sub-tittle .icon-with-name p {
  font-size: 1.3rem;
  font-family: clash-display-light;
  font-weight: 300;
  letter-spacing: 0.25rem;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .sub-tittle h3 {
  font-size: 4rem;
  letter-spacing: 3%;
  color: #8c8787;
  font-weight: 500;
  font-family: clash-display-medium;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .top-paragraph {
  max-width: 55rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .top-paragraph p {
  font-size: 1.7rem;
  font-weight: 400;
  color: #4c4b4b;
  letter-spacing: 0%;
  line-height: 3.5rem;
  font-family: montserrat-light;
  text-align: justify;
  word-spacing: -1px;
  word-wrap: wrap;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .bottom-paragraph {
  max-width: 55rem;
  box-sizing: border-box;
}
.raising-giant-page .raising-giant-container .inner-container .inner-container-texts .bottom-paragraph p {
  font-size: 1.7rem;
  font-weight: 400;
  color: #4c4b4b;
  letter-spacing: 0%;
  line-height: 3.5rem;
  font-family: montserrat-light;
  text-align: justify;
  word-spacing: -1px;
}

@media screen and (max-width: 600px) {
  .raising-giant-page {
    height: auto;
  }
  .raising-giant-page .raising-giant-container {
    height: auto;
  }
  .raising-giant-page .raising-giant-container .inner-container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 90vw;
    padding-bottom: 20rem;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-image {
    max-width: 90vw;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-image .RaisingGiantImg1 {
    width: 100%;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images {
    width: 100%;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images .RaisingGiantImg2 {
    width: 47%;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-image .bottom-images .RaisingGiantImg3 {
    width: 47%;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-texts {
    height: auto;
    margin: auto;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-texts .top-paragraph p {
    font-size: 2.7rem;
    line-height: 1.45;
  }
  .raising-giant-page .raising-giant-container .inner-container .inner-container-texts .bottom-paragraph p {
    font-size: 2.7rem;
    line-height: 1.45;
  }
}/*# sourceMappingURL=raising-giant.css.map */