<<<<<<< HEAD
main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main .services-container {
  max-width: 144rem;
  width: 100%;
  height: 115rem;
  box-sizing: border-box;
}
main .services-container .inner-container {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4.4rem;
}
main .services-container .inner-container .wrap {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main .services-container .inner-container .wrap .title {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .title p {
  font-size: 4.685rem;
  color: #000000;
  letter-spacing: 2%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  font-family: clash-display-light;
}
main .services-container .inner-container .wrap .title p span {
  font-size: 7.028rem;
  color: #000000;
  letter-spacing: 2%;
  font-weight: 700;
  font-family: clash-display-bold;
}
main .services-container .inner-container .wrap .services-wrap {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content {
  max-width: 59rem;
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers {
  max-width: 59rem;
  width: 100%;
  height: 19rem;
  background-color: #1a0651;
  border-top-left-radius: 1.6rem;
  display: flex;
  line-height: 0;
  justify-content: center;
  padding: 0 3rem 0 3rem;
  flex-direction: column;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: clash-display-bold;
  letter-spacing: 15%;
  color: #fff;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers p {
  font-size: 3.4rem;
  letter-spacing: 0%;
  color: #bbbbbb;
  font-weight: 400;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers p span {
  font-size: 2.4rem;
  font-family: montserrat-light;
  color: #bbbbbb;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers .join-us-link {
  max-width: 17.1rem;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers .join-us-link a {
  padding: 1.205rem 1.808rem;
  background-color: #fff;
  color: #1a0651;
  text-decoration: none;
  border-radius: 2.26rem;
  display: flex;
  gap: 0.753rem;
  align-items: center;
  justify-content: center;
  font-size: 1.259rem;
  font-weight: 600;
  font-family: montserrat-semibold;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services {
  max-width: 59rem;
  width: 100%;
  height: 18.9rem;
  display: flex;
  flex-direction: column;
  line-height: 0;
  justify-content: center;
  padding: 3rem;
  background-color: #033e01;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: clash-display-bold;
  letter-spacing: 15%;
  color: #fff;
}
main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services p {
  font-size: 3.4rem;
  letter-spacing: 0%;
  color: #bbbbbb;
  font-weight: 400;
}
main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month {
  background-color: #0b002a;
  max-width: 59rem;
  width: 100%;
  height: 21.1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
  align-items: center;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month h3 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: clash-display-bold;
  letter-spacing: 15%;
  color: #fff;
}
main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month h3 span {
  color: #ffd952;
}
main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month p {
  max-width: 15.8rem;
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(208, 205, 205, 0.831372549);
  font-size: 3.2rem;
  font-family: montserrat-light;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services {
  max-width: 59rem;
  width: 100%;
  height: 21.3rem;
  display: flex;
  padding-left: 3rem;
  justify-content: space-between;
  background-color: #070119;
  border-bottom-left-radius: 1.6rem;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title {
  max-width: 27.5rem;
  width: 100%;
  height: 21.3rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  justify-content: center;
  box-sizing: border-box;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title h3 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: clash-display-bold;
  letter-spacing: 15%;
  color: #fff;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title h3 span {
  color: #ffd952;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title p {
  font-size: 2.383rem;
  color: rgba(208, 205, 205, 0.831372549);
  font-weight: 400;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title p span {
  color: rgba(231, 226, 226, 0.831372549);
  font-size: 2.383rem;
  font-weight: 500;
  letter-spacing: 0%;
  font-family: montserrat-medium;
}
main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .paragraph {
  max-width: 18.7rem;
  color: rgba(208, 205, 205, 0.831372549);
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 900px) {
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers {
    justify-content: center;
    gap: 1rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers p {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  main .services-container .inner-container .wrap .services-wrap .services-content {
    max-width: 59rem;
  }
}
@media (max-width: 660px) {
  main .services-container .inner-container .wrap .services-wrap {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column-reverse;
    border: 1px solid blue;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers {
    max-width: 100%;
    line-height: 1;
    padding: 2rem 2rem 4rem;
    gap: 0;
    border-top-left-radius: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers h3 {
    width: 32.5rem;
    font-size: 3rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers p {
    width: 23.7rem;
    font-size: 4rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers p span {
    font-size: 4rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-morning-prayers .join-us-btn {
    font-size: 3rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .sunday-services p {
    font-size: 4rem;
    margin-top: 0;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month {
    max-width: 100%;
    line-height: 1;
    flex-direction: column;
    align-items: start;
    padding: 3rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month h3 {
    max-width: 100%;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .first-sunday-of-the-month p {
    max-width: 100%;
    font-size: 4rem;
    margin-top: 0;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem;
    border-bottom-left-radius: 0;
    flex-direction: column;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title h3 {
    font-size: 3rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title p {
    max-width: 30.9rem;
    font-size: 3rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .sub-title p span {
    font-size: 3rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-content .other-sundays-services .paragraph {
    max-width: 100%;
    font-size: 3.3rem;
    max-width: 30.9rem;
  }
  main .services-container .inner-container .wrap .services-wrap .services-image {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: unset;
  }
  main .services-container .inner-container .wrap .services-wrap .services-image img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
main .services-container .inner-container .wrap .services-image {
  max-width: 50.6rem;
  width: 100%;
  height: 86.4rem;
  position: relative;
  bottom: 4rem;
}
main .services-container .inner-container .wrap .services-image img {
  width: 100%;
  height: 86.4rem;
}
@media (max-width: 900px) {
  main .services-container .inner-container .wrap .title {
    justify-content: start;
  }
}
@media (max-width: 660px) {
  main .services-container .inner-container .wrap .title {
    max-width: 100%;
    text-align: center;
    line-height: 1;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  main .services-container {
    padding-bottom: 6rem;
    height: -moz-fit-content;
    height: fit-content;
=======
.fourth-continer {
  background-image: linear-gradient(27deg, rgba(255, 255, 255, 0)), url("../../media/images/Image+Overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440rem;
  height: 86.4rem;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: auto;
}
.fourth-continer .f-c-inset {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-height: 69.2rem;
  max-width: 90%;
  overflow: hidden;
  max-width: 120.2rem;
  margin: 0 auto;
}
.fourth-continer .f-c-inset .tittle-container {
  display: flex;
  flex-direction: row;
  max-width: 51.8rem;
  height: 10.2rem;
  margin-top: 9.2rem;
  margin-left: 22.1rem;
  gap: 8rem;
  padding: 0;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tag {
  display: flex;
  flex-direction: 11.1rem;
  height: 1.8rem;
  gap: 1.5rem;
  width: 11.1rem;
  margin: auto;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tag img {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tag p {
  font-family: clash-display-light;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.69rem;
  letter-spacing: 0.25rem;
  vertical-align: middle;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tittle {
  width: 38.3rem;
  display: flex;
  flex-direction: column;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tittle h3 {
  font-family: clash-display-light;
  font-weight: 400;
  font-size: 4rem;
  line-height: 98%;
  letter-spacing: 1%;
  margin: 0;
}
.fourth-continer .f-c-inset .tittle-container .f-c-tittle h2 {
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 6rem;
  line-height: 98%;
  letter-spacing: 1%;
  color: #000000;
  margin: 0;
}
.fourth-continer .f-c-inset .inner-boxes {
  display: flex;
  flex-direction: column;
  height: 39.6rem;
  max-width: 72.3rem;
  margin-top: 12rem;
  margin-bottom: 0;
  position: relative;
}
.fourth-continer .f-c-inset .inner-boxes .box-one {
  max-width: 60.1rem;
  height: 18.9rem;
  border-radius: 1.6rem;
  background-color: #1A0651;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  text-align: center;
  margin-left: 11.9rem;
  margin-bottom: 0;
  position: relative;
}
.fourth-continer .f-c-inset .inner-boxes .box-one h4 {
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 15%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 32.4rem;
  margin-top: 4rem;
  margin-bottom: 0;
}
.fourth-continer .f-c-inset .inner-boxes .box-one p {
  max-width: 30.9rem;
  height: 2.6rem;
  font-family: montserrat-light;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 2.55rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #BBBBBB;
  margin-left: 6rem;
  margin-top: 2.5rem;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three {
  max-width: 72.3rem;
  height: 20.7rem;
  display: flex;
  flex-direction: row;
  margin-top: -2rem;
  position: relative;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-two {
  width: 38.4rem;
  height: 20.7rem;
  border-radius: 16px 0.3px 0.3px 16px;
  background-color: #0B002A;
  border-right: 0.3px solid #FFFFFF;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-two .b-t-contents {
  max-width: 19.2rem;
  height: 14.5rem;
  top: 3.6rem;
  margin-left: 8.1rem;
  gap: 1.9rem;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-two .b-t-contents h4 {
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 15%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-two .b-t-contents h4 span {
  font-family: clash-display-bold;
  color: #FFD952;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-two .b-t-contents p {
  font-family: montserrat-light;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.9rem;
  vertical-align: middle;
  letter-spacing: 0%;
  color: rgba(208, 205, 205, 0.831372549);
  margin-top: 0;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-three {
  width: 38.4rem;
  height: 20.7rem;
  position: relative;
  background-color: #0B002A;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-three .b-t-content {
  display: flex;
  flex-direction: column;
  width: 21.5rem;
  height: 14.5rem;
  top: 3.6rem;
  margin-left: 3.7rem;
  gap: 1.9rem;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-three .b-t-content h4 {
  font-family: clash-display-bold;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 15%;
  vertical-align: middle;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #FFFFFF;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-three .b-t-content h4 span {
  color: #FFD952;
}
.fourth-continer .f-c-inset .inner-boxes .box-two-three .box-three .b-t-content p {
  width: 21.5rem;
  height: 7.8rem;
  font-family: montserrat-light;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.9rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(208, 205, 205, 0.831372549);
  margin-top: -1.7rem;
}
.fourth-continer .f-c-inset img {
  max-width: 100%;
  height: 69.2rem;
  margin: 0;
  position: relative;
  margin-left: -2rem;
  align-items: center;
  flex-wrap: wrap;
}
.fourth-continer button {
  display: flex;
  flex-direction: row;
  width: 19.3rem;
  height: 6rem;
  background-color: #4012C5;
  border: none;
  margin: auto;
  border-radius: 3rem;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
  margin-top: 7.8rem;
}
.fourth-continer button p {
  font-family: montserrat-semibold;
  font-weight: 600;
  font-size: 1.5rem;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}
.fourth-continer button .arrow {
  width: 1.387rem;
  height: 0.974rem;
  top: 0.31rem;
  left: 0.075rem;
  color: #FFFFFF;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .fourth-continer {
    top: 0;
    max-width: 100vw;
    height: auto;
    margin: 0;
  }
  .fourth-continer .f-c-inset {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin: 0;
    overflow: visible;
  }
  .fourth-continer .f-c-inset .tittle-container {
    left: 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50%;
  }
  .fourth-continer .f-c-inset .tittle-container .f-c-tag {
    bottom: 12rem;
    position: relative;
    margin: auto;
  }
  .fourth-continer .f-c-inset .tittle-container .f-c-tittle {
    position: relative;
    margin: auto;
    left: 5rem;
    bottom: 10rem;
  }
  .fourth-continer .f-c-inset img {
    top: 80rem;
    width: 95%;
    margin: auto;
    margin-top: 5rem;
  }
  .fourth-continer .f-c-inset .inner-boxes {
    top: 71rem;
    margin: auto;
    height: auto;
    position: relative;
>>>>>>> 21ed42a557d44aa2a63fe575cfc6fed74bd35a2d
  }
}/*# sourceMappingURL=services.css.map */