main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  .services-container {
    max-width: 144rem;
    width: 100%;
    height: 115rem;
    box-sizing: border-box;

    .inner-container {
      width: 90%;
      box-sizing: border-box;
      margin: auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 4.4rem;
      //   border: 1px solid black;

      .wrap {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: fit-content;

        .title {
          max-width: 56.2rem;
          width: 100%;
          display: flex;
          justify-content: center;
          box-sizing: border-box;

          p {
            font-size: 4.685rem;
            color: #000000;
            letter-spacing: 2%;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            font-family: clash-display-light;

            span {
              font-size: 7.028rem;
              color: #000000;
              letter-spacing: 2%;
              font-weight: 700;
              font-family: clash-display-bold;
            }
          }
        }

        .services-wrap {
          width: 100%;
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          // border: 1px solid red;

          .services-content {
            max-width: 60.1rem;
            width: 100%;
            height: 80rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            //   border: 1px solid red;

            .sunday-morning-prayers {
              max-width: 59rem;
              width: 100%;
              height: 19rem;
              background-color: #1a0651;
              border-top-left-radius: 1.6rem;
              display: flex;
              line-height: 0;
              justify-content: center;
              padding: 0 3rem 0 3rem;
              flex-direction: column;
              box-sizing: border-box;

              h3 {
                font-size: 2rem;
                font-weight: 700;
                font-family: clash-display-bold;
                letter-spacing: 15%;
                color: #fff;
              }
              p {
                font-size: 3.4rem;
                letter-spacing: 0%;
                color: #bbbbbb;
                font-weight: 400;

                span {
                  font-size: 2.4rem;
                  font-family: montserrat-light;
                  color: #bbbbbb;
                }
              }
              .join-us-link {
                max-width: 17.1rem;

                a {
                  padding: 1.205rem 1.808rem;
                  background-color: #fff;
                  color: #1a0651;
                  text-decoration: none;
                  border-radius: 2.26rem;
                  display: flex;
                  gap: 0.753rem;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.259rem;
                  font-weight: 600;
                  font-family: montserrat-semibold;
                }
              }
            }
            .sunday-services {
              max-width: 59rem;
              width: 100%;
              height: 18.9rem;
              display: flex;
              flex-direction: column;
              line-height: 0;
              justify-content: center;
              padding: 3rem;
              background-color: #033e01;
              box-sizing: border-box;

              h3 {
                font-size: 2rem;
                font-weight: 700;
                font-family: clash-display-bold;
                letter-spacing: 15%;
                color: #fff;
              }
              p {
                font-size: 3.4rem;
                letter-spacing: 0%;
                color: #bbbbbb;
                font-weight: 400;
              }
            }
            .first-sunday-of-the-month {
              background-color: #0b002a;
              max-width: 59rem;
              width: 100%;
              height: 21.1rem;
              display: flex;
              justify-content: space-between;
              padding: 0 3rem 0 3rem;
              align-items: center;
              box-sizing: border-box;

              h3 {
                font-size: 2.2rem;
                font-weight: 700;
                font-family: clash-display-bold;
                letter-spacing: 15%;
                color: #fff;

                span {
                  color: #ffd952;
                }
              }
              p {
                max-width: 15.8rem;
                margin-top: auto;
                margin-bottom: auto;
                color: #d0cdcdd4;
                font-size: 3.2rem;
                font-family: montserrat-light;
              }
            }
            .other-sundays-services {
              max-width: 59rem;
              width: 100%;
              height: 21.3rem;
              display: flex;
              justify-content: space-between;
              background-color: #070119;
              border-bottom-left-radius: 1.6rem;
              box-sizing: border-box;
              // border: 1px solid red;

              .sub-title {
                max-width: 27.5rem;
                width: 100%;
                height: 21.3rem;
                display: flex;
                flex-direction: column;
                line-height: 1;
                justify-content: space-between;
                padding-left: 3rem;
                box-sizing: border-box;

                h3 {
                  font-size: 2.2rem;
                  font-weight: 700;
                  font-family: clash-display-bold;
                  letter-spacing: 15%;
                  color: #fff;

                  span {
                    color: #ffd952;
                  }
                }
                p {
                  font-size: 2.383rem;
                  color: #d0cdcdd4;
                  font-weight: 400;

                  span {
                    color: #e7e2e2d4;
                    font-size: 2.383rem;
                    font-weight: 500;
                    letter-spacing: 0%;
                    font-family: montserrat-medium;
                  }
                }
              }
              .paragraph {
                max-width: 18.7rem;
                color: #d0cdcdd4;
                font-size: 3.2rem;
                font-weight: 500;
                margin-top: auto;
                margin-bottom: auto;
              }
            }
            @media (max-width: 900px) {
              .sunday-morning-prayers {
                justify-content: center;
                gap: 1rem;

                p {
                  font-size: 2rem;
                }
              }
            }
          }
          @media (max-width: 900px) {
            .services-content {
              max-width: 59rem;
            }
          }
        }

        @media (max-width: 660px) {
          .services-wrap {
            max-width: 100%;
            height: fit-content;
            flex-direction: column-reverse;
            border: 1px solid blue;

            .services-content {
              max-width: 100%;
              height: fit-content;

              .sunday-morning-prayers {
                max-width: 100%;
                line-height: 1;
                padding: 2rem 2rem 4rem;
                gap: 0;
                border-top-left-radius: 0;
                height: fit-content;

                h3 {
                  width: 32.5rem;
                  font-size: 3rem;
                }

                p {
                  width: 23.7rem;
                  font-size: 4rem;

                  span {
                    font-size: 4rem;
                  }
                }

                .join-us-btn {
                  font-size: 3rem;
                }
              }
              .sunday-services {
                max-width: 100%;
                height: fit-content;
                line-height: 1;

                h3 {
                  font-size: 3rem;
                  margin-bottom: 1.5rem;
                }

                p {
                  font-size: 4rem;
                  margin-top: 0;
                }
              }
              .first-sunday-of-the-month {
                max-width: 100%;
                line-height: 1;
                flex-direction: column;
                align-items: start;
                padding: 3rem;
                height: fit-content;

                h3 {
                  max-width: 100%;
                  font-size: 3rem;
                  margin-bottom: 1.5rem;
                }

                p {
                  max-width: 100%;
                  font-size: 4rem;
                  margin-top: 0;
                }
              }
              .other-sundays-services {
                max-width: 100%;
                height: fit-content;
                flex-direction: column;

                .sub-title {
                    max-width: 100%;
                    height: fit-content;
                }
              }
            }

            .services-image {
              max-width: 100%;
              height: fit-content;
              position: unset;

              img {
                width: 100%;
                height: fit-content;
              }
            }
          }
        }
        .services-image {
          max-width: 50.6rem;
          width: 100%;
          height: 86.4rem;
          position: relative;
          bottom: 4rem;

          img {
            width: 100%;
            height: 86.4rem;
          }
        }

        @media (max-width: 900px) {
          .title {
            justify-content: start;
          }
        }
        @media (max-width: 660px) {
          .title {
            max-width: 100%;
            text-align: center;
            line-height: 1;
            justify-content: center;
            border: 1px solid black;
          }
        }
      }
    }
  }
  @media (max-width: 660px) {
    .services-container {
      padding-bottom: 6rem;
      height: fit-content;
    }
  }
}
