@font-face {
  font-family: aisyah-demo;
  src: url('/Aisyah-Demo.otf');
}
@font-face {
  font-family: clash-display-bold;
  src: url('/ClashDisplay-Bold.otf');
}
@font-face {
  font-family: clash-display-semibold;
  src: url('/ClashDisplay-Semibold.otf');
}
@font-face {
  font-family: clash-display-medium;
  src: url('/ClashDisplay-Medium.otf');
}
@font-face {
  font-family: clash-display-light;
  src: url('/ClashDisplay-Light.otf');
}
@font-face {
  font-family: Clash Grotesk;
  src: url('/ClashGrotesk-Semibold.otf');
}
@font-face {
  font-family: montserrat-light;
  src: url('/Montserrat-Light.ttf');
}
@font-face {
  font-family: montserrat-semibold;
  src: url('/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: montserrat-medium;
  src: url('/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montserrat-extrabold;
  src: url('/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: bricolage-grotesgue-semibold;
  src: url('/BricolageGrotesque-SemiBold.ttf');
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  max-width: 100vw;
  max-width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html{
  font-size: 62.5%;
  background-color: black;
  max-width: 100vw;
  max-width: 100dvw;
  height: 100dvh;
  height: 100vh;
  /* overflow-x: hidden; */
  margin: auto;
  -webkit-overflow-scrolling: touch;
  
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 144.0rem;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* overflow-x: hidden; */
  -webkit-overflow-scrolling: touch;
  

}

/* Tablet Landscape View */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  body{
    width: 100dvw;
    
  }
}

/* Tablet Portrait  View*/
@media (max-width: 900px) {
  body{
    width: 100dvw;
    
  }
  html {
    font-size: 50%;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  main{
    width: 100dvw;
  }
  body{
    min-width: 100vw;
    
    
  }
  html {
    font-size: 40%;
    width: 100vw;
  }

    
  
}
@media (max-width: 412px) {
  main{
    width: 100vw;
  }
  body{
    min-width: 100vw;
    


    
  }
  html {
    font-size: 36%;
    width: 100vw;
    

  }

    
  
}


