@font-face {
  font-family: aisyah-demo;
  src: url('/Aisyah-Demo.otf');
}
@font-face {
  font-family: clash-display-bold;
  src: url('/ClashDisplay-Bold.otf');
}
@font-face {
  font-family: clash-display-semibold;
  src: url('/ClashDisplay-Semibold.otf');
}
@font-face {
  font-family: Clash Grotesk;
  src: url('/ClashGrotesk-Semibold.otf');
}
@font-face {
  font-family: montserrat-light;
  src: url('/Montserrat-Light.ttf');
}
@font-face {
  font-family: montserrat-medium;
  src: url('/Montserrat-Medium.ttf');
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-size: 62.5%;
  background-color: black;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
  /* background-color: red; */
  /* min-height: 100vh; */
  box-sizing: border-box;
  /* position: absolute; */

}

/* Ipad View */
@media screen and (max-width: 1040px){
  html{
    font-size: 50.5%;
    background-color: black;
  }
  body{
    width: 100vw;
    
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  html{
    font-size: 25.5%;
    background-color: black;
  }
  
}


